[2021-02-07 18:23] sruti2024 opened #1 "Add Footer in the base file"
Add a footer with the copyright, contact details  and social media handles . Add this to the base.html file in templates . Needs to be responsive !

[2021-02-07 18:26] sruti2024 opened #2 "Enhancement of CSS of project add page"
Improvise the UI UX of the project add page , try using external css/JS only to keep the code clean .

[2021-02-08 19:28] sruti2024 opened #3 "Change the technical stack type from text to multi select"
In the project add page change the technical stack selection from plain text to multi selector , also implement changes in the backend.

[2021-02-08 19:43] sruti2024 opened #4 "Add a new field of project_id in the database"
Along with all the details of the project , project id also gets to be stored in the database.
It will be an auto generate value as "first 3 letters of the project name"_"date of entry"
For example :
<html><table>
<tr><td>Name of project is </td><td>PRO_Act</td></tr>
<tr><td>Date of entry</td><td> 06/02/2021</td></tr>
<tr><td>Project ID</td><td> PRO_06</td></tr>
</table>
<html>

[2021-02-08 20:08] sruti2024 opened #5 "Create a modules page"
There is a button for details at the end of each card in the project view page , on clicking  the  button it should redirect to the modules page which would contain the project details on top  along with a '+' to add modules or sub tasks and their status (completed /ongoing/pending). Followed by a list of sub tasks with their status.

[2021-02-08 20:15] sruti2024 opened #6 "Option to add image"
While entering details of project there must be an option to upload image related to the project .

[2021-02-08 20:20] sruti2024 opened #7 "Improvise the ReadMe file"
Add more creative stuff to the readme file to make it more attractive !

[2021-02-13 16:27] sruti2024 opened #8 "Create an about page"
Details will be provided , need to design an about section to contain more details about PRO_act

[2021-02-28 04:13] RaveenaBhasin commented on #7
I would like to work on this issue.
Please assign me this

[2021-02-28 17:45] kunal299 commented on #8
@sruti2024 I would love to contribute to this issue. Could you plz assign this to me as a part of Gssoc'21?

[2021-02-28 17:46] kunal299 commented on #2
@sruti2024 Could you plz assign this issue to me as a part of Gssoc'21?

[2021-02-28 17:47] kunal299 commented on #6
@sruti2024 I would also contribute to this issue. Plz assign me this issue as a part of gssoc'21.

[2021-02-28 17:48] kunal299 commented on #1
@sruti2024 I would contribute to this issue also. Plz assign this issue to me as a part of gssoc'21.

[2021-02-28 18:30] sruti2024 commented on #1
Surely You can contribute , as told the coding phase will start from 4th march , so you shall e assigned then , till then you can work on this and even go through the other issues!

[2021-02-28 18:33] sruti2024 commented on #2
As soon as the coding phase starts  you shall be assigned, till then you can go through the other issues even rise issues of your own!

[2021-02-28 18:34] kunal299 commented on #1
@sruti2024 The dates are changed and our coding period will start from 8th March.

[2021-02-28 18:36] sruti2024 commented on #7
This project is under gssoc'21 so issues will be assigned on 4th march when the coding phase starts.

[2021-02-28 18:36] kunal299 commented on #2
Ok 😊

[2021-02-28 19:19] sruti2024 opened #9 "Create a SignUp page"
Create a sign up page with general criteria like first name last name ,Email ID , Contact Number, Password and confirm password.
Use the same CSS as that of Login page, and link this page to the create account written on the login page.

[2021-03-01 04:19] RaveenaBhasin commented on #7
Okay...

[2021-03-01 06:33] saaiswetha commented on #9
I would like to contribute to this issue, am a part of GSSoC'21.

[2021-03-01 15:47] sruti2024 commented on #9
Will assign once the coding phase starts !

[2021-03-06 05:16] promaroy commented on #3
Can I take up this issue as part of GSSOC'21?

[2021-03-07 04:52] promaroy commented on #4
Can I work on this issue as a part of GSSOC '21?

[2021-03-08 12:30] nilisha-jais commented on #8
I want to work on it

[2021-03-08 12:30] nilisha-jais commented on #1
I want to work on it

[2021-03-08 12:32] kunal299 commented on #8
@nilisha-jais I am working on it.

[2021-03-08 15:18] DhanyaHegde01 commented on #1
please, assign this to me. I would like to work on this

[2021-03-08 16:34] nandini7637 commented on #8
I would like to work on this issue please assign it to me. I am a gssoc participant

[2021-03-08 17:07] nandini7637 commented on #5
Hello I would like to contribute to it being a part of GSSOC.

[2021-03-08 17:08] nandini7637 commented on #1
Hello I would like to contribute to it being a part of GSSOC.

[2021-03-08 18:35] sruti2024 commented on #1
hi  @nandini7637 @DhanyaHegde01 @nilisha-jais , this project is under gssoc21, as instructed that a common channel will be made soon for each project as soon as it is done we can have discussion , I shall try to assign one issue to each to have a good start  and u ppl are also free to frame your own issues , if they are acceptable u will be the first one to be assigned!

[2021-03-09 03:20] sahildotexe commented on #6
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:20] sahildotexe commented on #2
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:20] sahildotexe commented on #1
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 05:04] PROTechThor commented on #8
@kunal299 @nandini7637 @nilisha-jais

The first step is to design a mockup of the page, using a UI tool like Figma, or any tool of your choice. All of you can independently create UI designs and share themhere. It'll be nice to have several designs to choose from. Once the UI mockup is reviewed and approved, one of you can then start coding.

@sruti2024 Sounds good?

[2021-03-09 05:11] PROTechThor commented on #7
@RaveenaBhasin

Hi. We'll have to discuss exactly what you want to add to the ReadMe first, before you begin writing. This way, you don't spend time writing documentation that is not necessary :)

[2021-03-09 05:23] sruti2024 commented on #8
@PROTechThor  absolutely !!

[2021-03-09 05:53] promaroy commented on #4
Can I work on this issue?

[2021-03-09 05:53] promaroy commented on #3
Can I work on this issue as a part of GSSOC '21?

[2021-03-09 06:37] rohank2502 commented on #9
I will like to work on this issue

[2021-03-09 06:38] rohank2502 commented on #8
I will like to work on this issue !!

[2021-03-09 06:39] rohank2502 commented on #7
Yes Please tell what exactly we have to add so it will be easy to add the given content !! I will like to work with this community

[2021-03-09 06:52] RaveenaBhasin commented on #7
@PROTechThor One thing we can do to make the readme look attractive is telling about the project admin and displaying the contributors list

[2021-03-09 07:00] PROTechThor commented on #7
@RaveenaBhasin I like this idea! I think the Readme can have a link to the contributors list, but the actual list should be on a separate page, just to keep things organized. If @prakharshreyash15 and @sruti2024 think this is a good idea, then we may want to create a brand new issue to track this.

[2021-03-09 07:03] PROTechThor commented on #7
@rohank2502
I _think_ the Readme has all the basic things a Readme file can have. Right now, we're just looking for creative ideas on what else can be added. Feel free to get creative. Compare our Readme file to that of other projects and tell us if there's anything missing. Also, are there any spelling or grammatical errors? Try building the app locally to see if the instructions are missing any

[2021-03-09 07:10] rohank2502 commented on #7
Ya Sure

[2021-03-09 07:11] PROTechThor commented on #7
@rohank2502 @RaveenaBhasin

Another thing you can do is improve the structure of the Readme file. For example, the "[Getting Started](https://github.com/sruti2024/PRO_Act#getting-started)" section can be renamed to something like "Building the app from source", the steps should be a numbered list, and the instructions should be precise. Use this for inspiration: https://github.com/PROTechThor/misp

[2021-03-09 07:15] rohank2502 commented on #7
Ok means you want to say that i should modify the wording and make it more attractive or easy to understand !! Actually i am new so need guidance

[2021-03-09 07:17] subhangi2731 commented on #5
can you please assign me this?

[2021-03-09 07:18] subhangi2731 commented on #2
please assign me this

[2021-03-09 07:21] PROTechThor commented on #7
@rohank2502 That's part of it. There's room for improvements with the overall file structure as well. Be careful though; don't accidentally make the instructions more complicated just because you want to change the wording :)

The way I see it, this issue is broad and we can have multiple PRs for it :)

[2021-03-09 07:23] rohank2502 commented on #7
Yes sure I will try my best to modify the read me file and if i think this change will be ok then i will raise a issue will it be ok ? And will that issue will be assigned to me ?

[2021-03-09 07:24] PROTechThor commented on #7
Sounds good :)

[2021-03-09 10:26] Praneeth-rdy commented on #9
Hey, I am interested in contributing to this. I will start designing the prototype on Figma immediately after you assign the issue to me. I will share the initial design here and after the confirmation of design, I can start working on the development part.

[2021-03-09 10:29] Praneeth-rdy commented on #4
Hey @promaroy, I am excited to work on this. If possible, allow me to work on this issue. :)

[2021-03-09 10:49] RaveenaBhasin commented on #7
Other than changing the wording we could change the indentation of the paragraph and images of contributors in the contributors list.
is this issue assigned to me?

[2021-03-09 12:08] manastole03 commented on #6
Hey, please assign this work to me I am having experience in UI / UX developement.
Intrested to solve this issue.
Thank-you

[2021-03-09 12:14] manastole03 opened #10 "[GSSOC'21] Toggle Button for Dark and Light mode"
Hey, I am Manas Tole a GSSOC'21 Participant.
I want to add a toggle button on each page for Dark and Light mode
This feature is most important to this project as well as  it is convenient to users to use.
Please issue this task to me.
I want to complete this task under your guidance.
Thank-you   :)

@sruti2024

[2021-03-09 12:16] manastole03 opened #11 "[GSSOC'21] Toggle Button for Dark and Light Mode"

[2021-03-09 12:17] #11 closed

[2021-03-09 14:28] kalpanapurohit commented on #5
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-09 14:28] kalpanapurohit commented on #9
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-09 14:29] kalpanapurohit commented on #2
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-09 14:58] sruti2024 commented on #3
Yes am assigning you this one , before making the PR share a video of the working either with me or the project mentors for confirmation , make changes in both front and back end , you can also communicate with me on discord username - sruti2024

[2021-03-09 15:03] sruti2024 commented on #2
@kunal299 assigning you with this one, first decide a perfect color palette with the existing shade and also more , verify with me or the mentors and then start designing , also share the images once after it is designed  !

[2021-03-09 15:14] sruti2024 commented on #4
@promaroy you have already been assigned one issue to passing on to @Praneeth-rdy , @Praneeth-rdy  do the implementation and send a video of the same first for verification.

[2021-03-09 15:21] sruti2024 commented on #10
Great to have this feature in the project , I am assigning you this one , add the toggle button on the nav bar in the base file so that it is automatically implemented in each page , and after designing verify the same either with me or the project  mentor before making a PR!

[2021-03-09 15:43] sruti2024 commented on #8
@kunal299 @nilisha-jais @rohank2502  I am assigning all three for this one , as told by @PROTechThor first design a layout and get if verified , one wit the best overall feature will be merged first , if we find any addition feature in the rest of the files they shall also be merged later and you will get marks for them !

[2021-03-09 15:45] rohank2502 commented on #7
thanks @sruti2024 I will start working on this and will take guidance from you and @PROTechThor time to time This is my first issue assigned so please excuse me if made any mistake !!

[2021-03-09 15:49] sruti2024 commented on #6
@kunal299 since you already have been assigned a issue , I shall pass it on to @sahildotexe , do verify by taking a video before making a pr fg the working
@manastole03 there is an immense need for improvisation of ui/ux in this project so opt for the once related to them or even create some of your own !

[2021-03-09 15:51] RaveenaBhasin commented on #7
Thank you @sruti2024 I'll be working on the contributors.md file and since it is my first issue I'll be greatfull if you excuse me for mistakes.
Is there any discord channel on which I can ask my doubts regarding this?

[2021-03-09 15:53] rohank2502 commented on #7
@sruti2024  actually we need something like discord or slack !!

[2021-03-09 15:54] rohank2502 commented on #7
I will like to suggest you @RaveenaBhasin  not only names but also their profile picture can be included in square shape icons it will look something attractive

[2021-03-09 15:56] sruti2024 commented on #7
This is a part of gssoc21 and there is already a discord for the same , I hope you both are in there and if not please contact with the organizers

[2021-03-09 15:58] RaveenaBhasin commented on #7
Thanks @rohank2502 for the amazing suggestion I was going to implement the same idea

[2021-03-09 15:59] rohank2502 commented on #7
Best luck !!

[2021-03-09 15:59] rohank2502 commented on #7
Yes I am there !!

[2021-03-09 16:00] RaveenaBhasin commented on #7
@sruti2024 Yes there is a discord channel of GSSOC but I think we need separate project servers so that work goes smoothly

[2021-03-09 17:15] promaroy commented on #3
Ok. Thankyou.

[2021-03-09 18:31] PROTechThor commented on #9
@Praneeth-rdy

Hey, I am interested in contributing to this. I will start designing the prototype on Figma immediately after you assign the issue to me. I will share the initial design here and after the confirmation of design, I can start working on the development part.

About this, it looks like we already have a login page, and this sign-up page should use the same CSS. I don't think a Figma m

[2021-03-09 18:36] PROTechThor commented on #7
@rohank2502 Yup :)

If you are making unrelated changes, then submit several PRs so that they will be easy to review. For example, if you want to add a new section and also want to edit spelling/grammatical errors, then submit separate PRs for them. Hope this makes sense?

[2021-03-09 18:48] Praneeth-rdy commented on #4
I solved this issue.
This is the video which shows the impact of the field addition through the admin panel.

https://user-images.githubusercontent.com/57290210/110521655-0199b600-8136-11eb-95af-98c737f8e755.mp4

[2021-03-10 03:35] Naman-12911 commented on #9
Hello, sir I can easily solve this issue please assign me this issue.
Under GSSOC.

[2021-03-10 04:08] sahildotexe commented on #6
@sruti2024 I have few doubts, how can we connect ?

[2021-03-10 05:12] SwarupKharul opened #13 "Create project_add.html"
Hi, I am a GSSoC participant.
There is no project_add.html in the templates folder.  It throws a TemplateDoesNotExist error when clicked on add project option.
![error](https://user-images.githubusercontent.com/65753949/110579700-53215f80-818d-11eb-9533-828fa6f86ba0.jpeg)

[2021-03-10 05:16] SwarupKharul commented on #9
Hey, I am a GSSoc participant. I would like to solve this issue. Can you please assign it to me!

[2021-03-10 05:34] sruti2024 commented on #13
the page has been added!!

[2021-03-10 05:44] #13 closed

[2021-03-10 06:04] sruti2024 commented on #4
@Praneeth-rdy please do the changes in the front end , I have added the project_add page , there when the project details are added on this page, in the backend the project id should be  automatically stored.

[2021-03-10 06:14] Praneeth-rdy commented on #4
What should be changed in the frontend? Ig this issue deals with the backend work. I will add the project through project_add page and will make it save in the backend with project id with the mentioned format. Cool.

[2021-03-10 06:21] Praneeth-rdy commented on #4
@sruti2024 Done..!

https://user-images.githubusercontent.com/57290210/110585487-deebb980-8196-11eb-8629-07c737c15690.mp4

[2021-03-10 06:29] rohank2502 commented on #7
@PROTechThor  Need help in making the project on my machine can we get connected on any platform linkedin twitter discord

[2021-03-10 06:35] sruti2024 commented on #1
@DhanyaHegde01 assigning you this one create a design first get it approved and then continue with the PR.

[2021-03-10 06:38] PROTechThor commented on #7
@rohank2502
There's a PRO_Act discord channel. You may ask questions there. https://discord.com/channels/811724426965811210/815039772874637332

[2021-03-10 06:44] rohank2502 commented on #7
Ook thanks

[2021-03-10 06:46] rohank2502 commented on #7
This link is expired

[2021-03-10 06:47] PROTechThor commented on #7
@rohank2502 I see you talking in the #general channel. Can you just scroll down the list of channels and find PRO_Act?

[2021-03-10 06:49] rohank2502 commented on #7
No @PROTechThor  Mentor are given acess not  participant

[2021-03-10 06:50] PROTechThor commented on #7
@rohank2502 Hmm. Not sure what else I can do about it ¯\_(ツ)_/¯

[2021-03-10 06:51] rohank2502 commented on #7
are you on twitter or linkedin ? @PROTechThor

[2021-03-10 06:53] PROTechThor commented on #7
LinkedIn, yes. Twitter, no. Lemme PM you on discord. I have exams this week, so I can't help until next week. But I'll message you just so you know my username :)

[2021-03-10 06:58] rohank2502 commented on #7
Thanks

[2021-03-10 07:04] rohank2502 commented on #7
No issues Let's do from next week 👍🏻

On Wed, Mar 10, 2021, 12:30 PM RaveenaBhasin <notifications@github.com>
wrote:

[2021-03-10 08:19] sruti2024 commented on #7
@RaveenaBhasin cool if no one else is opting , you can working from next week

[2021-03-10 10:01] jankivaghasiya commented on #1
Hello sir,
I would like to contribute to this as a GSSOC'21 participant. Can you please assign me this?

[2021-03-10 10:43] DhanyaHegde01 commented on #1
Ok..

On Wed, 10 Mar 2021, 12:05 Sruti Chatterjee, <notifications@github.com>
wrote:

[2021-03-10 14:05] sahildotexe commented on #6
I have added the upload image option. Please refer to the video link I have given below and let me know if I can make PR.
Link : https://drive.google.com/file/d/1BmOmgylQbMUoTNh9pvNZcL0dI6Qn5nvE/view?usp=sharing

[2021-03-10 14:38] DhanyaHegde01 commented on #1
Hey...how do I get my design approved before the pull request?

[2021-03-10 16:26] RaveenaBhasin commented on #7
I have sent a pull request. Please have a look at it

[2021-03-10 18:03] sujoy-coder opened #15 "Create a route for displaying User Profile"
Hi @sruti2024 , I would like to work on this issue as a participant of GSSoC'21. Here I am thinking to create css card view for the user profile which contains Information of the user.

please assign it to me 🙏

[2021-03-10 18:20] ksh168 opened #16 "Create requirements.txt file"
requirements.txt is missing. Adding it will help new contributors to install all dependencies directly.
**What is requirements.txt?**
See [here](https://www.idkrtm.com/what-is-the-python-requirements-txt/)

I would like to work on this issue in GSSoC'21. Please assign this to me.
Thanks!

[2021-03-10 18:49] sruti2024 commented on #1
communicate the design to me or the mentors on discord (username - Sruti | pro_act |PA )

[2021-03-10 19:00] sruti2024 commented on #9
@PROTechThor completely agreed , I am assigning this one to @saaiswetha as she was the first one in the lot , rest all ur ideas are also cool @ashutoshkrris your otp verification part also seems to be something that can be implemented as a forgot password , so if you wish u can frame your own issue and that will be assigned to you ,
for the rest @Praneeth-rdy  @kalpanapurohit @saumyaparikh @Naman-

[2021-03-10 19:09] sruti2024 commented on #15
Great idea , have a profile tab on the nav to lead to the profile page try keeping the color scheme same and first design it and get it approved by either  me or the mentors then can start with the coding part !

[2021-03-10 19:13] sruti2024 commented on #16
Sure , can work on it !

[2021-03-10 19:15] ashutoshkrris opened #17 "OTP Verification for Forgot Password"
I would like to implement this for Forgot Password Page. I'll be using AJAX requests to enhance user experience/
I am a GSSOC participant, please assign it to me.

[2021-03-10 19:17] sruti2024 commented on #17
Great ! go on !

[2021-03-10 19:22] ksh168 commented on #16
Hi! I have made the PR.

[2021-03-10 19:59] #16 closed

[2021-03-10 21:01] nikfzy opened #19 "[GSSOC'21] Custom User model to supoort multiple roles and A profile Model linked to store basic user information."
I would like to Override the default user model used here so that we can introduce custom roles for user and other user level functionalities as per this application need.

[2021-03-10 21:05] nikfzy opened #20 "[GSSOC'21] Change pid field in Project add model to use default uuid type field of django which would default to uuid4 type."

[2021-03-11 04:48] sujoy-coder commented on #15
Yes of course.... I am started working on it
Thank You 😇

[2021-03-11 05:14] saaiswetha commented on #9
@sruti2024 should the sign up page also have backend implementation? Or just frontend is enough?

[2021-03-11 05:36] ashutoshkrris commented on #9
I feel, there must be backend implementation as well. Password Validations, Email Validations, Email Verifications should be there to avoid fake users signing up

[2021-03-11 05:38] ashutoshkrris commented on #17
Hey @sruti2024
I have implemented Forgot password. Could you please verify if everything is okay with it? I have attached the demo for your reference.

https://user-images.githubusercontent.com/47353498/110741080-17a09700-825a-11eb-8d21-798dc12e32f0.mp4

[2021-03-11 06:22] sruti2024 commented on #17
Great work , send the PR!

[2021-03-11 06:25] sruti2024 commented on #19
Could you brief me about what all roles you are planning of and how you want to implant they .

[2021-03-11 06:39] sruti2024 opened #21 "Improve the Navbar design"
Currently we have a very basic navbar so improve the design of the navbar  keeping the content same .

[2021-03-11 06:42] nikfzy commented on #19
The roles can be anything as of now we can introduce the team member func added by a project admin or something like that i mean higher to lower level user mapping func. The PA can divide the task between its TM's.

[2021-03-11 06:46] nikfzy opened #22 "[GSSOC'21] Master Task and Slave Task func."
Creating a Task Model which can be connected to mutiple slave tasks, which will be in actual sub - tasks of that root task. I will be using
Modified Pre-order Tree Transversal modeling technique to make tree structure of the relational mapping.

[2021-03-11 06:51] sruti2024 opened #23 "design a logo for pro_act"
Design a logo justifying the purpose of proact and also matching the color scheme . color scheme : https://colorhunt.co/palette/269111

[2021-03-11 06:54] sruti2024 commented on #22
okay I am assigning you this on , just once you have designed pls verify it with me or the mentors on discord or any other means then move on with the PR

[2021-03-11 06:56] RaveenaBhasin commented on #23
I would like to work on this issue.

[2021-03-11 07:00] ashutoshkrris commented on #17
Done @sruti2024

[2021-03-11 07:24] Vijay-Git03 commented on #21
I am GSSOC'21 participant and I wan to contribute on this issue,please assign this issue to me! @sruti2024

[2021-03-11 07:24] #17 closed

[2021-03-11 07:29] adya-13 opened #26 "[GSSoC'21] Remember Me functionality"
Hello, project maintainers.
I would like to add the 'remember me' functionality to the login page so that the next time user logs in, they can save time.
Could you assign this to me.

[2021-03-11 07:31] sruti2024 commented on #26
sure go on !

[2021-03-11 07:32] sruti2024 commented on #21
sure , go on but first design it out and verify with me then move towards the coding part .

[2021-03-11 07:39] khareyash05 opened #27 "add contributing.md"
Hi! I would like to add contributing.md to the repo which states on how to clone and fork the repo,how to add ,create and push a repo,squash commits,rebase your feature branch ,how to update forked repo as well as local repo to the changes made in upstream.
I would like to work on this under GSSOC'21.

[2021-03-11 07:53] sruti2024 commented on #27
cool , but just name the file as something else like guidelines or something else because there is a contributors.md so might get confused , and there is a basic guide in the readme file so add a link there to like for better idea on how to contribute click here !

[2021-03-11 08:39] somya51p opened #28 "Update readme"
Installation commands using requirements.txt as well as creating superuser are not mentioned. Also creating a virtual environment would be appreciated.

I wish to contribute to this issue under GSSOC'21. Please assign me the same.

[2021-03-11 08:40] #28 closed

[2021-03-11 08:43] Priyanka7011 commented on #23
Hiii I am a GSSOC 2021 participant.
I would also love to design a logo for pro_act.
If you like it, you can make it your official logo .
Please give me one chance.
Thank You !!

[2021-03-11 08:45] somya51p commented on #7
Hey@sruti2024! Many important commands are missing like creating a virtual environment and creating a superuser. I wish to contribute to the same under GSSOC'21. If this issue is not assigned, I would love to work on the same.

[2021-03-11 08:48] rohank2502 commented on #7
Sorry me & @RaveenaBhasin  are working on this issue !! @somya51p

[2021-03-11 08:51] somya51p opened #29 "Create a Contact Us page"
Hey, @sruti2024. A page from where users could contact the admins if they face any issue, and also contact us, about us and other pages should be available on the home page itself. It looks admirable.
I wish to contribute to this issue under GSSOC'21. Please assign me the same.

[2021-03-11 08:57] preetiahuja18 commented on #23
Can I fix this issue? @sruti2024 .Please consider this issue to me :)

[2021-03-11 09:01] somya51p opened #31 "Make the adding project functionality work"
Hey, @sruti2024. I wish to make the adding project functionality work and displaying it on a new page in a well-organized format.
I wish to contribute to this issue under GSSOC'21. Please assign me the same.

[2021-03-11 09:44] rohank2502 opened #32 "Will like to add the skills used in Readme.md"
Like we can add the technologies used and below that logo of each tachnology uses it will look attractive that just adding name !!

[2021-03-11 10:12] SpecTEviL commented on #23
I would love to work on this if you assign it to me @sruti2024 under GSSoC'21.
Thanks!

[2021-03-11 10:27] simranbhalla3 commented on #29
Hii , i am a gssoc'21 participant. I would like to create the contact us page for this project, also i have prior knowledge and will complete the work in minimum time. please assign this to me @somya51p @PROTechThor @ksh168

[2021-03-11 10:29] simranbhalla3 commented on #21
Hi i am gssoc participant and I can improve the navbar using css,js . Please assign this issue to me. @sruti2024

[2021-03-11 11:42] Tannusharma28 commented on #23
@sruti2024 Please consider me for this issue. I have learned designing and I'm a GSSOC'21 participant.

[2021-03-11 12:52] nandini7637 commented on #8
@sruti2024 I have made a sample nav bar, header, footer and little content in between how can I show you this much?
Is there any discord grp?

[2021-03-11 12:54] nandini7637 commented on #8
Also @sruti2024  if you want something specific to be added in content section pls specify I'll add it.

[2021-03-11 14:59] sruti2024 commented on #29
@somya51p since you have raised the issue to assigning you for contact us page , first design and get approved on discord then go for the coding part.

[2021-03-11 15:03] RaveenaBhasin commented on #23
@sruti2024 I have made a PR for the issue. Please have a look at it

[2021-03-11 15:03] sruti2024 commented on #31
Well the add project works currently and there is already an issue created to enhance the ui/ux of the add project page , if you have any other idea or feature please elaborate

[2021-03-11 15:18] deeppatel23 opened #36 "Login Required"
Will like to make login required to make login compulsory before opening the home page. I would like to work as a part of GSSoC'21.

[2021-03-11 15:47] garvitraj commented on #29
@sruti2024 I had experience in front-end and Adobe Xd Pls assign this issue to me i will start with the design if approved then will move to coding part.

[2021-03-11 16:45] sruti2024 commented on #36
I think this feature is already there!

[2021-03-11 17:03] deeppatel23 commented on #36
@login_required(login_url='/login')
I guess that this code must be added before project_add and project_view functions in views.py to make sure login is required before moving to other pages.

[2021-03-11 17:07] deeppatel23 commented on #36
It's better to add this after the signup page is complete.

[2021-03-11 17:52] nikfzy commented on #22
One More question what are the metrics we people are considering for calculating efficiency of completion of tasks..

[2021-03-11 17:58] rohank2502 opened #37 "Update Conntribution.md"

[2021-03-11 19:27] #32 closed

[2021-03-11 19:39] sruti2024 commented on #15
Please see through the comments on your PR

[2021-03-12 03:49] sujoy-coder commented on #15
I am not able to understand. Though I made changes in my PR. Could you be more specific what I need to do now ?
@sruti2024

[2021-03-12 04:37] somya51p commented on #29
@sruti2024, surely I will start today. Can you please provide me the discord server link?

[2021-03-12 05:40] RaveenaBhasin commented on #23
I have updated the logo.Please have a look at it.

[2021-03-12 06:00] Tannusharma28 commented on #23
![pro_act logo](https://user-images.githubusercontent.com/65345284/110898888-19d02780-8326-11eb-9369-e14bbc936638.jpeg)

@sruti2024 How about this?
Please assign this issue to me.

[2021-03-12 07:47] promaroy commented on #3
Video (multi select checkbox added)

https://user-images.githubusercontent.com/46682347/110908784-4e97ab00-8335-11eb-948f-d01f3acc75c4.mp4

[2021-03-12 07:48] promaroy commented on #3
Shall I make a PR?

[2021-03-12 12:49] adya-13 commented on #26
Thanks for assigning this to me. Could you add the gssoc21 label to this issue?

[2021-03-12 15:11] #37 closed

[2021-03-12 15:18] #15 closed

[2021-03-12 15:47] sruti2024 commented on #23
@Priyanka7011 @SpecTEviL @preetiahuja18 @Tannusharma28 , this issue is still open so do a thing design your logos and send them to me on discord , (Username - Sruti | pro_act | PA) , need a compact logo that can be put up on the nav bar as well , follow the color scheme https://colorhunt.co/palette/269111 .one with the best logo will be assigned this issue and obviously your PR will get merged.
@T

[2021-03-12 15:54] somya51p commented on #29
![Capture](https://user-images.githubusercontent.com/64978837/110964300-e5e60980-8307-11eb-899b-e1c771589354.PNG)

@sruti2024 Have a look, recommend the desired changes, and also provide me with the discord server link of this project, it would become easy for me to clear things.

[2021-03-12 16:30] 2001asjad opened #42 "Add important steps in the README.md file"
Hello..
I would like to add some important steps in the 'Getting Started' section of the readme file like installing the virtual environment before cloning the project and install the requirements.txt file . It would be very helpful for beginners who want to get started.

PS: I am a GSSOC21 participant and would want to work in this project.
Thank You.

[2021-03-12 19:54] sruti2024 opened #43 "design a loader"
design a loader to be displayed on loading of  the index and other pages after sign up

[2021-03-12 20:01] sruti2024 commented on #29
@somya51p server link : https://discord.com/channels/811724426965811210/815039772874637332

[2021-03-12 20:05] sruti2024 commented on #9
@saaiswetha yes backend is also required , if you have any more doubts please ask it on discord it is easier to respond on time

[2021-03-12 20:11] sruti2024 commented on #3
@promaroy  great job , would be better if this can be in a dropdown format and also display the tech stack on the project view page , for any other query communicate on discord

[2021-03-12 20:12] sruti2024 commented on #5
@subhangi2731 updates?

[2021-03-12 20:16] sruti2024 commented on #6
@sahildotexe the video was not really clear to me , you can make the pr so that i can check ur codes

[2021-03-12 20:19] sruti2024 commented on #42
@2001asjad  go on!

[2021-03-12 21:18] sahilempire commented on #10
Hello @sruti2024 , I want to work on this issue, **Please assign me**.
Maybe the **above assignee unable to solve the issue**, if so please assign me.

Thank you.

[2021-03-12 21:19] sahilempire commented on #10
Hello @sruti2024 , I want to work on this issue, **Please assign me**.
Maybe the **above assignee unable to solve the issue**, if so, please assign me.

Thank you.

[2021-03-12 21:38] sahilempire commented on #43
hello @sruti2024 I want to work on this issue, **Please assign me**.

Thanking you

[2021-03-13 05:54] promaroy commented on #3
I have made the changes- added dropdown multiselect and listed tech stack in project view page

https://user-images.githubusercontent.com/46682347/111020836-9f1f0f00-83ee-11eb-8c9d-8899d03fe97d.mp4

[2021-03-13 05:56] promaroy commented on #3
Shall I proceed to make a PR now?

[2021-03-13 09:12] Pranjal-2001 commented on #23
Could I also give it a try?

[2021-03-13 09:15] sruti2024 commented on #43
@sahilempire go on with it!

[2021-03-13 09:20] sruti2024 commented on #23
Sure Pranjal go on!

[2021-03-13 11:21] kalpanapurohit opened #46 "Designing a Home page"
I would like to create a home page which will contain a navbar containing links for Login, Signup and About page, and once the logo will be designed I can add that too to the home page. Please assign this issue to me as gssoc21 participant.

[2021-03-13 12:28] friskycodeur opened #47 "Creating the whole Profile page"
Hey @sruti2024, Would love to work on enhancing the Profile page's Design as well as enhance the backend of the profile page too.
(P.S: I am a participant @ GSSOC21')

[2021-03-13 17:32] dsg1320 commented on #23
I would also love to give it a try as part of the GSSOC'21

[2021-03-13 19:07] sruti2024 commented on #2
@kunal299 updates?

[2021-03-13 19:14] sruti2024 commented on #46
the index page is eventually the home page if you wish to recreate or enhance the design can go for it , so just confirm me what you wish to do then can assign u with this issue

[2021-03-13 19:22] sruti2024 commented on #5
@kalpanapurohit , assigning you this issue , hope you will be actively doing it !

[2021-03-13 19:25] sruti2024 commented on #22
could you be more specific

[2021-03-14 04:39] 2001asjad opened #50 "Adding google captcha on login page."
I would like to add "I am not a robot captcha" on the login page and signup pages as well,
Can you please assign it to me.
I am a GSSOC 21 participant.
Thank You

[2021-03-14 05:49] sujoy-coder opened #51 "add footer in web page"
Hi @sruti2024  , I want to add a footer inside all necessary webpage .
I am a participant @ GSSOC21

Please assign it to me 🙏

Thank You...

[2021-03-14 12:54] #27 closed

[2021-03-14 16:26] raveena69 commented on #23
I would love to work on this  issue

[2021-03-14 18:06] raveena69 commented on #23
![PRO_ACT](https://user-images.githubusercontent.com/58651579/111078988-012a6200-851e-11eb-8dd8-f79ff2cc7141.png)

I just made a sample logo. How is it? Should I change color or design?

[2021-03-15 06:05] 2001asjad opened #53 "No URL for 'register here' on the logIn page"
When an anonymous user runs the server it gets redirected to the login page but in order to register when we click 'Create Here' to create a new account the link is dead.
I want to work on this issue. I am a GSSOC'21 participant. Can you please assign it to me?

[2021-03-15 06:27] sruti2024 commented on #50
surely u can but currently we have only the login page the signup page is being worked out so  , you first work on the login page as soon as the sign up page is ready work on that as well , will that be fine?

[2021-03-15 06:28] sruti2024 commented on #51
we already have a issue for footer but it seems to have no progress so its would be better if u comment there then the issue can be passed on if its not worked out

[2021-03-15 07:01] 2001asjad commented on #50
@sruti2024  more than fine. I am on it

[2021-03-15 07:09] sujoy-coder commented on #51
Oo

[2021-03-15 07:14] sruti2024 commented on #53
the signup page is being worked out , and already an issue is created there so comment over there

[2021-03-15 07:17] sujoy-coder commented on #1
@sruti2024 I want to work on this issue
I have contributed in this project earlier so I know about the project
Thank You

[2021-03-15 07:17] #51 closed

[2021-03-15 07:18] sujoy-coder commented on #51
I have closed this issue Now... 😊

[2021-03-15 07:31] sruti2024 commented on #1
okay @sujoy-coder move ahead with this

[2021-03-15 08:11] #47 closed

[2021-03-15 09:31] 2001asjad commented on #6
@sruti2024 I want to give it a go.. Can you assign this to me??

[2021-03-15 10:03] sujoy-coder opened #54 "updating requirements.txt"
### The Errors are Showing :
- ModuleNotFoundError: No module named 'crispy_forms'
- ModuleNotFoundError: No module named 'PIL'

I want to fix this bugs

[2021-03-15 10:47] sujoy-coder commented on #1
what should be the content for footer ?
Please mention

[2021-03-15 12:44] ritesh1731 commented on #23
I would like to contribute to this issue under GSSOC21. I can make a logo can I try?

[2021-03-15 13:59] Sameek18 commented on #6
@sruti2024  Can you please assign this issue to me?

[2021-03-15 14:07] Sameek18 commented on #29
Hi , i am a gssoc'21 participant. i have prior knowledge of django on designing the frontend as well . Could you please assign this issue to me?

[2021-03-15 14:13] Sameek18 opened #56 "Enhancing CSS of view projects page."
hi,I would like to enhance the CSS of the view projects page,
Can you please assign it to me.
I am a GSSOC 21 participant.
Thank You

[2021-03-15 15:16] Aditya201551 opened #58 "[FEATURE] [GSSOC' 21] Adding google authentication for login"
@sruti2024

-> Using google API for allowing the user to login and logout through google and adding remember me feature

![google-ss](https://user-images.githubusercontent.com/32588231/111175692-aef54980-85ce-11eb-9e60-4dcb535cc362.png)

ThankYou!(GSSOC' 21 participant)

[2021-03-15 15:23] sruti2024 commented on #58
yup go on !!

[2021-03-15 15:24] sruti2024 commented on #56
yes sure go on!

[2021-03-15 15:28] sruti2024 commented on #56
please make an outline first(with any designing app) of what u r planning to design , get it verified from the mentors and then move with the code , so that all the required changes are done before u start with execution

[2021-03-15 15:33] Aditya201551 commented on #58
please add gssoc' 21 tag as it helps while scoring

[2021-03-15 15:43] #53 closed

[2021-03-15 15:44] #46 closed

[2021-03-15 15:44] #31 closed

[2021-03-15 15:45] #20 closed

[2021-03-15 15:47] #3 closed

[2021-03-15 18:17] sahilempire commented on #43
@sruti2024 Can you please **add** the **level. tag** too.
Thank you

[2021-03-16 08:27] Aryamanz29 opened #61 "[Need] Issue and PR templates"
Currently, there is no issue and PR templates

[2021-03-16 08:27] Aryamanz29 commented on #61
I would like to work on this issue, Kindly add labels and assign it to me

[2021-03-16 14:18] garvitraj commented on #56
@sruti2024 i can make the design in the adobe xd and then convert it in code after review
can i go with it

[2021-03-16 14:21] garvitraj commented on #43
@sruti2024 can i work on this issue pls assign this to me

[2021-03-16 15:01] sruti2024 commented on #6
@Sameek18 go on !

[2021-03-16 15:02] sruti2024 commented on #6
Please attach a video showing the required functionality along with ur PR!

[2021-03-16 15:08] sruti2024 commented on #21
@simranbhalla3 go on with this issue first create a design get it approved and them move with the coding part

[2021-03-16 15:09] #22 closed

[2021-03-16 15:21] #26 closed

[2021-03-16 15:26] sruti2024 commented on #61
@Aryamanz29 okay go on

[2021-03-16 15:27] sruti2024 commented on #54
@sujoy-coder go on

[2021-03-16 16:32] Aditya201551 opened #62 "[ENHANCEMENT] [GSSOC' 21] Labelling every check box in the project"
I have noticed that on clicking the labels beside the checkbox, it does not get selected or deselected. So, I would like to add this enhancement that on clicking the label, the checkbox gets selected/deselected.

![Screenshot (43)](https://user-images.githubusercontent.com/32588231/111345125-fcdb8180-86a2-11eb-8ba5-2caa30b70915.png)

for example on clicking "Remember Me" the checkbox beside it get

[2021-03-16 16:38] mohammedjameel24 opened #63 "DARK MODE UI"
## DARK Mode UI

[2021-03-16 16:39] garvitraj commented on #43
@sruti2024 i too want to contribute on this issue i have graphic designing , ui/ux skills i and make it on XD

[2021-03-16 17:34] sujoy-coder commented on #54
This issue can be resolved by #55 PR which was already made by myself.
Please Check it
Thank You

[2021-03-16 19:42] Aryamanz29 commented on #61
Kindly review my PR @sruti2024

[2021-03-17 02:10] Sameek18 commented on #6
okay.

[2021-03-17 10:14] Upasana1216 commented on #2
I want to contribute to this issue. Please assign this to me under GSSOC

[2021-03-17 10:15] Upasana1216 commented on #23
I would like to contribute to this issue under GSSOC21. I'm have already created many logos for different organizations. I can make a logo can I try?

[2021-03-17 10:27] Aryamanz29 opened #67 "[Need] Workflow for GSSOC21 issue label"
I want to add workflow which automatically adds `GSSOC21` label to new issues if they have  labels-synonyms: `'{"GSSOC21":["GSSOC","GSSOC21","gssoc","Gssoc","GSSoC"]}'`  in their `issue body`

![Screenshot from 2021-03-17 15-52-45](https://user-images.githubusercontent.com/56113566/111453959-209dd680-873a-11eb-93ca-37161f201192.png)

[2021-03-17 10:28] Aryamanz29 commented on #67
I would like to work on this issue

[2021-03-17 12:19] PROTechThor commented on #63
Hi @mohammedjameel24

We already have a ticket for this here: https://github.com/sruti2024/PRO_Act/issues/10
This is a duplicate issue.

Closing this. If you believe I shouldn't close this, let me know and I'll reopen.

Thank you :)

[2021-03-17 12:19] #63 closed

[2021-03-17 12:20] PROTechThor commented on #62
@Aditya201551

Great idea! Go ahead and fix this :)

[2021-03-17 12:43] mohammedjameel24 commented on #10
Assign me ⚫

[2021-03-17 15:11] #1 closed

[2021-03-17 15:36] #54 closed

[2021-03-17 16:14] kanishka8276 opened #68 "Updation in requirements.txt"
django-allauth should be added in requirements.txt
#GsSOC'21

[2021-03-17 19:47] vismitap commented on #2
May I work on this as a part of GSSoC'21?

[2021-03-18 06:31] sruti2024 commented on #2
okay assigning both , @Upasana1216 and @vismitap , first do the designing and get it verified by the mentors then move towards the coding part! whose ever design stands out the best , the PR will be merged for them

[2021-03-18 06:33] sruti2024 commented on #21
@simranbhalla3 updates??

[2021-03-18 06:35] #19 closed

[2021-03-18 06:38] sruti2024 commented on #23
@ritesh1731 @Upasana1216 since the PR for this issue is not yet merged so u ppl can give a try !!maintain the purpose of the logo and also the color scheme

[2021-03-18 06:47] #61 closed

[2021-03-19 04:50] iharshal0808 commented on #8
hello @sruti2024 ma'am
I have enhanced some styling of about page using css effects.
    1. I have fixed the navigation bar
    2. Changed the background
    3. Changed the font-styling
    4. Lastly enhanced the buttons
How can I show you???

[2021-03-19 06:59] sruti2024 commented on #43
@garvitraj assigning u this one!

[2021-03-19 07:14] sruti2024 opened #70 "Enhance the CSS of the Index Page"
### **Feature request**:
Enhance the UI/UX  of the index page , can have some graphs showing the no of projects created , latest project created etc.

### **Is your feature request related to a problem? Please describe. (optional)**:
The problem is that the interface is very simple and needs enhancement

### **Describe the solution you'd like**:
Animations , pictures any enhancement that will impr

[2021-03-19 13:09] iharshal0808 commented on #8
https://github.com/iharshal0808/new-repo/compare/main?expand=1
you can see the required changes here

[2021-03-19 13:18] iharshal0808 commented on #8
@sruti2024 Kindly let me know What is your organisation name so that I can apply to it pls.....

[2021-03-19 15:22] simranbhalla3 commented on #21
Working on it , will give you the design asap

[2021-03-19 16:30] garvitraj commented on #43
@sruti2024 thanx for assigning this issue to me will surely give a great design by tomorrow

[2021-03-20 05:23] kanishka8276 opened #72 "Adding a to do list."
### **Feature request**:

Adding a to do list to the home page in which user can add his tasks, mark them done when he has completed it.

### **Describe how this feature will be useful to our readers**:

This feature will be Very helpful as this project works on divide and conquer strategy so a to do list is the best way of dividing our work into smaller task and completing them , and this to do l

[2021-03-20 07:40] PROTechThor commented on #72
Hi @sruti2024. Do you think we need this feature? I'm not sure

[2021-03-20 07:41] PROTechThor commented on #68
Hi @kanishka8276

Sorry, but I don't understand exactly what this issue is talking about. Please add a detailed explanation of the problem and the solution that should be implemented.

Thanks!

[2021-03-20 07:42] PROTechThor commented on #67
Hey @sruti2024. Thoughts on this issue? Is this something we need?

[2021-03-20 07:53] PROTechThor commented on #58
Merged! Thanks, @Aditya201551

[2021-03-20 07:53] #58 closed

[2021-03-20 07:58] kanishka8276 commented on #68
Actually when I installed the requirements for this project and ran it then it showed the error no module named allauth , then I had to install it separately so instead it would be better if we keep it in requirements.txt.

[2021-03-20 08:02] PROTechThor commented on #36
@sruti2024 Is this issue relevant or should it be closed?

[2021-03-20 08:05] PROTechThor commented on #68
@kanishka8276 Okay. Thanks for clarifying.

@sruti2024 What do you think?

[2021-03-20 09:00] garvitraj commented on #43
@sruti2024 i hade designed a loader attaching the xd file below.
and will design one more by today so that i will be sharing in evening

https://user-images.githubusercontent.com/62978449/111864747-cd6d9300-8988-11eb-88bc-804b240199eb.mp4

[2021-03-20 09:07] #62 closed

[2021-03-20 10:44] sruti2024 commented on #68
@kanishka8276 this is a pretty minor but important bug u want to fix but would u do some additional changes as well so that we can give it a level label that would justify it !

[2021-03-20 10:46] sruti2024 commented on #67
@Aryamanz29 would u explain how this is going to work because we cannot blindly label all the issue without reviewing them!

[2021-03-20 10:52] sruti2024 commented on #72
@kanishka8276 sorry but don't really need such a feature

[2021-03-20 11:03] #72 closed

[2021-03-20 11:05] kanishka8276 commented on #68
Well I haven't found any other issue to work on in this project. So Keep this issue for just fixing the bug, not as a part of gssoc21

[2021-03-20 11:08] kanishka8276 commented on #68
Well I haven't found any other issue to work on in this project. So Keep this issue just for improving the project, not as a part of gssoc21

[2021-03-20 11:17] simranbhalla3 commented on #21
@sruti2024 Here's the design . If you like it let me know or i can do further changes
![rescue1](https://user-images.githubusercontent.com/73423545/111867735-ee8baf00-899b-11eb-9e8e-24c00569143e.gif)

[2021-03-20 14:53] kanishka8276 opened #75 "Adding an 'other' option in tech stack of project_add.html"
### **Feature request**:
Adding a 'other' option in tech stack drop down and then displaying a text box in which user can enter the tech stack which is not listed in the drop down.
### **Is your feature request related to a problem? Please describe. (optional)**:

Some of the tech stacks are not listed in the drop down and it's not possible to include all the tech stacks in the list.

### **Descri

[2021-03-20 15:33] sruti2024 opened #76 "Create a loop to generate options in tech stack"
### **Describe the bug:**
there are separate lines used to generate each option in the tech stack list this makes the code too long and editing tough , so would be better to have a loop to generate the tech stack in the dropdown list.

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to 'project_add file'
2. Scroll down to 'tech _stack'

### **Expected behavior:**
expect to have the sa

[2021-03-20 15:35] sruti2024 commented on #75
@kanishka8276  I have created a similar issue #76 so have a check!

[2021-03-20 15:37] kanishka8276 commented on #75
I didn't understand what you are trying to say in that.

[2021-03-20 16:04] SalmaFarghaly commented on #70
Hello @sruti2024  I am a GSSoC'21 participant and I would like to work on this issue, Could you assign this issue to me ?

[2021-03-20 17:22] Aditya201551 commented on #76
I can work on this issue, please assign me

ThankYou(GSSOC' 21 participant)

[2021-03-21 06:55] kanishka8276 commented on #76
Do you mean that we should create an array with all tech stack and then loop through that array and using javascript property innerHTML get the similar output.

[2021-03-21 14:26] Dhriti-Roy commented on #8
I am a Gssoc'21 participant , I would like to work on it . Kindly assigned it to me.

[2021-03-21 17:57] sruti2024 commented on #76
yes absolutely!!

[2021-03-21 17:58] kanishka8276 commented on #76
Please assign this to me.

[2021-03-21 18:08] kanishka8276 commented on #76
@sruti2024  I would like to contribute to this issue. Please assign this to me.

[2021-03-21 18:49] Sanjana-03 commented on #8
Hi @sruti2024 I had made changes in about page can you review it and tell me the changes

![image](https://user-images.githubusercontent.com/66235278/111917103-2ed65480-8aa4-11eb-81de-9102f53f5254.png)

[2021-03-21 18:54] Sanjana-03 commented on #29
Hi , I am a gssoc'21 participant. Could you please assign this issue to me?

[2021-03-21 19:02] Aditya201551 commented on #76
@sruti2024 I would like to do this task with optimized code in Django and the page will be pre-rendered in the backend, please assign me this task

Thank You(GSSOC' 21 participant)

[2021-03-22 14:31] aditi1403 opened #80 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #79.

[2021-03-22 16:01] Aditya201551 commented on #76
I have added Pull Request #81

[2021-03-22 16:05] Sanjana-03 commented on #21
![Capture](https://user-images.githubusercontent.com/66235278/112020523-6bfb1f00-8b56-11eb-8e8c-19d47bce6a1e.PNG)

[2021-03-23 03:45] kanishka8276 commented on #76
@chdharm  @sruti2024  Sorry, but you should assign an issue on the basis of first come first serve and I was the one who opened similar issue.

[2021-03-23 04:09] somya51p opened #82 "Change password functionality"
### **Feature request**:
I wish to add functionality to change the password of their own profiles.

### **Is your feature request related to a problem? Please describe. (optional)**:
Users once logged in, don't have the option to change their password. So wish to add the change password option.

### **Describe the solution you'd like**:
Just wish to add a button on the profile page if the user wis

[2021-03-23 05:35] simranbhalla3 commented on #21
@sruti2024 Please let me know about the design so that i can start working on the issue

[2021-03-23 11:00] #76 closed

[2021-03-25 05:07] vismitap commented on #2
@sruti2024 Please review.

 Old SS :
 ![image](https://user-images.githubusercontent.com/47056243/112421394-f1e4b900-8d54-11eb-94f7-db4d941c4e2c.png)
New SS
![image](https://user-images.githubusercontent.com/47056243/112421466-1476d200-8d55-11eb-8634-b10c5d754e93.png)

Changes made:
* Added box-shadow to navbar
* Fixed the margin issues in navbar and all form elements and now they do not appear to

[2021-03-25 14:38] Abhishekkr93 commented on #8
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 15:20] sruti2024 commented on #82
Go one , nice issue indeed!!

[2021-03-25 15:26] sruti2024 commented on #2
I quiet liked the whole thing , it would be great if u could experiment with the background color a bit and send me some ss on discord , so that i could select whether this white is good or any other will serve better , also make the labels bold , and chhose technical stack to grey rather than green also widen it like the rest of the inputs !!

[2021-03-25 15:28] #7 closed

[2021-03-25 15:33] SalmaFarghaly commented on #70
Hello @sruti2024 I need to ask you some questions ,There is a p tag in  index.html that has "Add projects -- divide into modules -- update the works done -- set a time limit" So, Should these options direct to any page ? and Should I stick to the chosen colors on this page ?

[2021-03-25 15:41] #42 closed

[2021-03-25 15:46] sruti2024 commented on #70
currently the add project page is there and rest pages are being worked upon but the line was written to just brief about the work flow , and do slick to the color scheme given

[2021-03-25 15:48] #68 closed

[2021-03-25 15:49] #67 closed

[2021-03-25 15:50] sruti2024 commented on #56
@garvitraj u can work on this issue !

[2021-03-25 15:53] sruti2024 commented on #21
@simranbhalla3 , I really liked the design but wish the color to remain black or 0b3e33 will be fine rest is cool , start with your code

[2021-03-25 15:54] sruti2024 commented on #21
@simranbhalla3 also there are many changes that have been added recently  so as soon as the code is ready fork the latest one and push all the changes

[2021-03-25 15:55] sruti2024 commented on #21
@Sanjana-03 I think it hardly has any changes , just a shift form left to right

[2021-03-25 15:57] sruti2024 commented on #6
@Sameek18 updates??

[2021-03-25 15:59] Sanjana-03 commented on #21
Yes I know @simrabhalla3 is doing nice work so I am not working on this.

On Thu, Mar 25, 2021, 21:25 Sruti Chatterjee ***@***.***>
wrote:

[2021-03-25 16:00] sruti2024 commented on #8
@iharshal0808 please attach an ss

[2021-03-25 16:57] Aditya201551 opened #88 "[BUG] [GSSOC' 21] Footer overlapping techstack"
@sruti2024 @chdharm @SaiSudhaV @PROTechThor

### **Describe the bug:**
- Footer is overlapping the options of tech stack in `add_project page`

### **To Reproduce:**
Steps to reproduce the behaviour:
- Run the project locally before merging the fixes

### **Expected behavior:**
- I expected that the tech stack menu would float over the footer but the footer is overlapping the tech stack menue

###

[2021-03-25 17:19] SaiSudhaV commented on #88
Good issue @Aditya201551 Go ahead resolving it.

[2021-03-25 17:51] SalmaFarghaly commented on #70
Okay, Great !
Can you explain more about the kind of graphs you want on this page ?

[2021-03-25 20:03] #88 closed

[2021-03-26 06:51] simranbhalla3 commented on #21
![image](https://user-images.githubusercontent.com/73423545/112593509-9d613c80-8e2d-11eb-8765-d014238f15c7.png)

 What design should be of the LogOut button? Same as other options or simple buttons?

[2021-03-26 12:22] #50 closed

[2021-03-26 13:23] iharshal0808 commented on #8
@sruti2024 ma'am this is the video link
https://user-images.githubusercontent.com/69026742/112636727-7b82ac80-8e63-11eb-862b-a7f4aa343d1c.mp4

and the ss :-
![1st](https://user-images.githubusercontent.com/69026742/112637685-6ce8c500-8e64-11eb-98a1-21e7171715e6.png)
![2nd](https://user-images.githubusercontent.com/69026742/112637727-770ac380-8e64-11eb-91bc-2217bbd14d20.png)
![3rd](https://user-ima

[2021-03-26 14:36] arpit456jain commented on #10
@PROTechThor I think may be above assignee was unable to solve the issue, Its been 17 days when this issue was assigned to him. Kindly assign it to me I will work on it as soon as possible.

[2021-03-26 14:56] arpit456jain opened #92 "[Gssoc'21] Website is not Responsive"
### **Describe the bug:**
The website is not responsive in small screen like phones wrong use of bootstrap classes,
hard-coded CSS in some places.
Please Take  a Look in Video.

https://user-images.githubusercontent.com/55352601/112650489-70367d80-8e71-11eb-8b68-ff36319c1189.mp4

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2021-03-27 11:00] arpit456jain commented on #92
@PROTechThor please assign me this issue as i am a GSSoC'21 participant.

[2021-03-27 16:12] sruti2024 commented on #92
Go on with it!!

[2021-03-27 16:18] arpit456jain commented on #92
@sruti2024 Kindly assign this to me and please add labels of gsscoc'21 as i am a Gssoc'21 participant.

[2021-03-27 16:24] #75 closed

[2021-03-27 16:27] sruti2024 commented on #9
@ashutoshkrris assigning you with this issue since the previous assignee seems to be inactive , hope u complete the task on time!

[2021-03-27 16:28] ashutoshkrris commented on #9
Sure @sruti2024
I'll work on it and keep updating you.

[2021-03-27 16:31] sruti2024 commented on #70
a monthly count graph of the numbers of projects that have been created , further can be divided in graphs showing the completed tasks , pending and ongoing tasks , but the latter is not required for now just for an idea and for any more details contact on discord!

[2021-03-27 16:32] sruti2024 commented on #21
@simranbhalla3 yep this design is perfect !! go on with your PR !

[2021-03-27 16:47] sruti2024 commented on #8
okay some changes required :
1. add some padding to the whole block
2. The center alignment of the key feature is not up to mark make it left align or use a carousal
3. stick to the color scheme given in readme
4. the yellow footer section is not needed , the project already has one so let that be there
5. use two separate div for the upper description and the key feature part , each key feature c

[2021-03-27 16:52] #29 closed

[2021-03-27 16:53] arpit456jain commented on #92
@sruti2024 mam can I move CSS in contact page between body to head tag. by making a separate block
CSS should be always in head tag.

[2021-03-27 18:53] arpit456jain commented on #92
@sruti2024 please Review My PR

[2021-03-28 04:54] #92 closed

[2021-03-28 07:13] SnehaVeerakumar commented on #6
I would like to work on this issue as a part of GSSOC'21. As I already have source code for this issue,  I can complete it as soon as possible. Maximum of 1 day is required for me to complete this issue. @sruti2024

[2021-03-28 11:35] VaibhavSharma24 opened #94 "Adding a Favicon logo on the website title in browser tab"
**Feature request**

i want to add a fevicon logo on this website i am a gssoc participant and would love to work on this project.

[2021-03-28 15:23] arpit456jain commented on #10
@sruti2024 Can you please assign me this I want to try it. I am a gssoc'21 participant

[2021-03-28 16:05] ashutoshkrris commented on #9
Hi @sruti2024
I've worked on the signup page.
I've used ajax validations and otp verification.
Demo video is attached below :

https://user-images.githubusercontent.com/47353498/112758724-76616100-900d-11eb-9156-bace67ed7aec.mp4

[2021-03-29 09:18] akshaypk123 commented on #80
I am a gsscoc 21 participant, I am a total newbie so please assign me this issue, so as to start with the projects

[2021-03-29 18:52] #82 closed

[2021-03-29 19:06] somya51p opened #96 "Enhancing the CSS of profile page"
### **Feature request**:
Enhancing the CSS of the profile page by giving good hover effects to the buttons and also arranging the alignment of the page.

### **Describe the solution you'd like**:
Giving good hover effects to the buttons, suitable font, and also arranging the alignment of the page.

### **Describe how this feature will be useful to our readers**:
This would make the page more attra

[2021-03-30 07:55] SaiSudhaV commented on #2
@Upasana1216 any updates?

[2021-03-30 14:45] #9 closed

[2021-03-30 18:37] sruti2024 commented on #94
sure go on !

[2021-03-30 18:39] sruti2024 commented on #96
could you please elaborate on the changes you would like to make

[2021-03-31 04:17] sakshamgurbhele commented on #80
Can I on this issue?

[2021-03-31 16:59] VaibhavSharma24 commented on #94
thanks, okay i am on it.

[2021-04-01 05:35] somya51p commented on #96
@sruti2024 the hover effects of buttons are primary blue, not matching with the theme of the project. the alignment of the details is looking attractive enough. Just wish to make the page look attractive.

![1](https://user-images.githubusercontent.com/64978837/113248209-5500af00-9271-11eb-8375-c707f974293f.PNG)

[2021-04-01 16:03] coding-geek21 opened #100 "Creating dynamic form for the user in add projects page"
### **Feature request**:
Creating dynamic form in the add projects page will help users to add more links like they can add github link and also some other links like hosted webpage link

I would like to work on this  can you please assign me?

[2021-04-01 18:15] arpit456jain opened #101 "[Gssoc'21] Enhancing the footer"
### **Feature request**:
I want to improve the current footer, as it is currently very dull and simple.

[2021-04-01 19:29] niksm7 opened #102 "[GSSOC'21] Login required for Add projects and error on adding project"
**GSSOC '21**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

The user should not be allowed to reach the add projects page without login as it be of no use to allow anonymous user to add and manage projects. Secondly the adding of projects should

[2021-04-02 01:42] PROTechThor commented on #101
@aditi1403 Please explain in detail the enhancements you want to make

[2021-04-02 04:41] arpit456jain commented on #101
@PROTechThor I want to replace it with this.
<img width="960" alt="3" src="https://user-images.githubusercontent.com/55352601/113381120-c2a8fa00-939b-11eb-9c86-66eaf088c131.png">

[2021-04-02 12:16] SnehaVeerakumar commented on #6
I have added demo video. Source code is ready for this issue. If the current assignee crosses the deadline, kindly assign me to make a PR.

DEMO VIDEO : https://drive.google.com/file/d/1gxgNxY_y2TGv-LJiNAsmgR3nC7aB9bz1/view?usp=sharing

[2021-04-02 19:59] SaiSudhaV commented on #6
@2001asjad updates please?

[2021-04-02 20:02] SaiSudhaV commented on #6
Great work!!! @SnehaVeerakumar

[2021-04-02 20:19] SaiSudhaV commented on #100
Nice one @coding-geek21

[2021-04-02 21:35] Ananyaagupta commented on #94
I would like to work on the issue I am a designer and have designed various favicons before. i would like to collaborate if possible

[2021-04-03 10:52] #5 closed

[2021-04-03 13:16] FireQueen-3010 opened #103 "Host the website using heroku"
### **Feature request**:
The idea is to host the website using heroku so that it is visible to the public.

### **Is your feature request related to a problem? Please describe. (optional)**:
Right now, it is hard to view the website without actually accessing through local host

### **Describe the solution you'd like**:
The website can be deployed using heroku or netlify.

### **Describe alternati

[2021-04-03 13:16] FireQueen-3010 commented on #103
Please assign me this under gssoc'21

[2021-04-03 13:20] arpit456jain opened #104 "[Gssoc'21] Bug in front-end"
### **Describe the bug:**
the footer overlap the techstack and its looks very ugly and annoying
<img width="960" alt="p1" src="https://user-images.githubusercontent.com/55352601/113479553-659d6900-94ad-11eb-9d8a-1a616c9370ed.png">

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

### **Expected behavior:**
A clear an

[2021-04-03 13:21] arpit456jain commented on #104
@Aditya201551 kindly assign me this issue.

[2021-04-03 15:13] arpit456jain commented on #104
@Aditya201551 kindly assign me this issue so I can create a PR

[2021-04-03 15:14] Aditya201551 commented on #104
Please ask pa to assign you this task......I cannot assign you the tasks

[2021-04-03 15:16] arpit456jain commented on #104
ok @Aditya201551 . @PROTechThor kindly assign me this issue.

[2021-04-04 05:53] sruti2024 commented on #21
@simranbhalla3 any update??

[2021-04-04 05:55] garvitraj commented on #43
is there any update on the loader design
i have made a new design following the colour as provided in readme should i make a pr??

[2021-04-04 06:02] #23 closed

[2021-04-04 06:03] sruti2024 commented on #56
@garvitraj  updates?

[2021-04-04 06:05] sruti2024 commented on #43
go on with the PR but make sure to attach a video that shows the page loading after the loader functionality!

[2021-04-04 06:06] sruti2024 commented on #70
@SalmaFarghaly updates?

[2021-04-04 06:07] sruti2024 commented on #94
@VaibhavSharma24 updates?

[2021-04-04 06:15] sruti2024 commented on #101
will including the about is not really required because there shall be a separate section for that and quick links are present in nav currently but if u want to add any animation in the footer like the double shade wave, etc then that can be done !

[2021-04-04 06:17] sruti2024 commented on #103
But the site is not completed yet so any change made needs to be simultaneously exercised on the hosted one as well , so wouldn't it be better if it is hosted once when most of the site is done?

[2021-04-04 06:19] sruti2024 commented on #96
okay make a design and get it confirmed will give the level tag based on the quality of design !

[2021-04-04 06:27] FireQueen-3010 commented on #103
Okay

[2021-04-04 06:27] #103 closed

[2021-04-04 06:33] garvitraj commented on #43
ok sure

[2021-04-04 15:11] VaibhavSharma24 commented on #94
@sruti2024 Sorry for not updating you i was busy in my college yeah i have made some designs i am sharing them and tell me how they are or if anything i need to change

[2021-04-04 15:15] VaibhavSharma24 commented on #94
![fevicon 1](https://user-images.githubusercontent.com/72144747/113513287-a1f0c800-9586-11eb-9439-f529c3564913.png)
![fevicon 2](https://user-images.githubusercontent.com/72144747/113513297-a917d600-9586-11eb-9563-9000c55aaed3.png)

[2021-04-04 15:26] VaibhavSharma24 commented on #94
@Ananyaagupta  yeah i am okay with that we can then select whichever look good.

[2021-04-04 17:28] SalmaFarghaly commented on #70
@sruti2024 I have lost part of the code that I have written, So I will rewrite it and try to finish the rest of the task as soon as possible, Sorry for any Inconvenience.

[2021-04-04 18:39] arpit456jain commented on #101
@sruti2024 What about this footer.

https://user-images.githubusercontent.com/55352601/113518299-18032800-95a3-11eb-94e1-f21e37ee9612.mp4

[2021-04-04 18:43] arpit456jain commented on #101
and @sruti2024  kindly assign me issue #104 its s very small issue.

[2021-04-04 19:43] SaiSudhaV commented on #104
@arpit456jain I guess similar kind of issue is already resolved previously by @Aditya201551

[2021-04-04 20:12] arpit456jain commented on #104
@SaiSudhaV  I don't know @Aditya201551 asked me to reverted the changes that i had done in footer because of which this issue is occurring but reverting css of footer will affect the contact page so I created this issue to fix the overlapping.
If it's already solved @Aditya201551 please let me know

[2021-04-05 03:33] Aditya201551 commented on #104
@SaiSudhaV yes, ease assign this issue to @arpit456jain he will fix that bug in contact section

[2021-04-05 16:33] srishtij2000 commented on #2
Can I work on this issue?

[2021-04-05 16:33] srishtij2000 commented on #21
Can I work on this issue?

[2021-04-05 16:34] srishtij2000 commented on #70
Can I work on this issue?

[2021-04-05 16:34] srishtij2000 commented on #56
Can I work on this issue?

[2021-04-05 16:35] #102 closed

[2021-04-05 16:37] sruti2024 commented on #101
yes this seems cool , just change the color scheme and it shall be perfect

[2021-04-05 16:43] SalmaFarghaly commented on #70
I am about to finish, I am just drawing final styling.

[2021-04-06 05:47] arpit456jain commented on #101
<img width="960" alt="ed" src="https://user-images.githubusercontent.com/55352601/113664468-690d3c00-96c9-11eb-8af2-864df1e083fb.png">

@sruti2024  is it ok ?? if no kindly specify which color do you want. if yes then I will replace the footer in website to this and will create a PR as soon as possible.

[2021-04-06 06:33] Aditya201551 opened #109 "[GSSOC' 21] [Feature] Adding show/hide password feature in login and signup page"
### **Feature request**:
- Adding a clickable icon to toggle password visibility to the user

### **Is your feature request related to a problem? Please describe. (optional)**:
 - NA

### **Describe the solution you'd like**:
- Editing templates and icons to implement this feature

### **Describe alternatives you've considered**:
- NA
### **Describe how this feature will be useful to our readers**

[2021-04-06 10:02] Diksha-11 opened #110 "Adding Space Indentation to PRO_Act/templates/index.html Code."
I am a gssoc'21 participant and I would like to add space indentation to the .html file that is PRO_Act/templates/index.html, to the code below {% block body %}.

It is just to increase the readibility of index page. Since html files can be inspect at frontend also, Thus readability is an important aspect that must be considered.

# Prerequisites:
-  I checked to make sure that this issue has not

[2021-04-06 12:46] arpit456jain commented on #104
@SaiSudhaV kindly review my PR.

[2021-04-06 17:25] Aditya201551 commented on #109
@SaiSudhaV please add a level tag ThankYou!

[2021-04-06 18:25] Aditya201551 opened #113 "[GSSOC' 21] [FEATURE] Adding Facebook login to the project"
### **Feature request**:
- Allowing users to login with Facebook to the project

### **Is your feature request related to a problem? Please describe. (optional)**:
NA

### **Describe the solution you'd like**:
- Allowing users to login with Facebook to the project

### **Describe alternatives you've considered**:
NA

### **Describe how this feature will be useful to our readers**:
- Saves the time

[2021-04-06 19:04] niksm7 opened #114 "[GSSOC '21] Adding Sub Task Functionality to Manage Projects"
### **Feature request**:
When we click on the manage project button for any specific project we get a page with some information on the right along with a "Add Subtask" button which just opens up a dialogue box but this box provides no functionality and doesn't add any subtask.

### **Describe the solution you'd like**:
I would like to create model for storing the sub tasks related to each project

[2021-04-06 19:11] sruti2024 commented on #101
yes color seems to be good , don't replace the footer just attach it with the footer

[2021-04-06 19:13] sruti2024 commented on #114
@niksm7 made my work easier ! go on with the issue , hope to see good results !

[2021-04-06 19:16] niksm7 commented on #114
Thank you! Won't disappoint you 😃

[2021-04-06 19:24] sruti2024 commented on #6
@SnehaVeerakumar updates??

[2021-04-06 19:25] sruti2024 commented on #8
@iharshal0808 updates?

[2021-04-06 19:28] sruti2024 commented on #10
@manastole03 updates?

[2021-04-06 19:29] sruti2024 commented on #21
@srishtij2000 sure

[2021-04-06 19:30] #36 closed

[2021-04-06 19:31] manastole03 commented on #10
Yeah I will create a pull request in few days.

[2021-04-06 19:50] mohammedjameel24 commented on #10
Assign me

[2021-04-06 19:57] arpit456jain commented on #10
@sruti2024 I had already made a toggle a button just have to add it to project.
<img width="960" alt="Untitled" src="https://user-images.githubusercontent.com/55352601/113770890-571ab000-9740-11eb-9da4-4b38a9c52570.png">
if possible kindly assign it to me I will make a PR in an hour

[2021-04-06 20:00] arpit456jain commented on #101
ok @sruti2024 I will add it and make a PR  for this very soon.
I had already created a PR for bug in front-end kindly review it #111

[2021-04-07 01:18] 2001asjad commented on #6
Please assign this one to the next participant.

[2021-04-07 03:47] iharshal0808 commented on #8
Sorry @sruti2024 ma'am I am unable to complete this task as I am not keeping well.
Sorry to inform you lately but I could not complete it further because of my health.

[2021-04-07 06:05] somya51p opened #115 "Creating the Profile Update page"
### **Feature request**:
As for now, the profile update page is not synced with the signup details. Users can visit the page and update his or her profile. If he wants to change the username or email, it can be done by this functionality.

### **Is your feature request related to a problem? Please describe. (optional)**:
The profile update button is not active only the username is mentioned in the

[2021-04-07 06:11] somya51p opened #116 "Adding image upload option in Add project page"
### **Feature request**:
Users can upload an image of their project so an image upload functionality should be given.

### **Describe how this feature will be useful to our readers**:
A precise picture of the project can be given if we give the option to upload an image of the same.

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone.

@s

[2021-04-07 06:33] SnehaVeerakumar commented on #6
@sruti2024  I am getting an small error and contacting mentors regarding this. Kindly give me 2 days to complete this.

[2021-04-07 06:36] SnehaVeerakumar commented on #6
I have added an image field successfully and also admin can add the pictures but the project structure is different, so I have asked an mentor about adding the path. Once the path for image field is added, my work will be done.

[2021-04-07 07:09] giridhar7889 opened #118 "Discussion panel or chat room for that particular project they are working on."
### **Feature request**:
A discussion panel is where people contributing to that project may discuss the problems and stuff.

### **Is your feature request related to a problem? Please describe.
Yes, as there is nowhere virtually to chat with the people who are contributing to the project and discuss the tasks and problems they're facing.

### **Describe the solution you'd like**:
I would like to

[2021-04-07 08:14] somya51p commented on #96
@sruti2024 Made two designs, review them, suggest the changes if any, and finalize. ThankYou!

![2](https://user-images.githubusercontent.com/64978837/113833514-65e87d80-97a7-11eb-9e92-a81dfd722a13.PNG)

![4](https://user-images.githubusercontent.com/64978837/113833546-6d0f8b80-97a7-11eb-91ad-3dd9f4849930.PNG)

[2021-04-07 12:52] SnehaVeerakumar commented on #6
I will make a PR by tomorrow @sruti2024 Please don't unassign me before that !!!

[2021-04-07 13:15] mohammedjameel24 commented on #10
Assign me please

[2021-04-07 15:41] Aditya201551 opened #120 "[GSSOC' 21] [ENHANCEMENT] Re-designing login with google/ button"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

- Re-designing login with google button and making it more slim and appealing(

[2021-04-07 15:46] #113 closed

[2021-04-08 05:07] harinyadevi opened #122 "Spell check in readme.md"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Spelling checked

# Current Behavior:

Instead of 'parti

[2021-04-08 05:08] harinyadevi commented on #122
I would like to make a PR for this issue
@sruti2024
@SaiSudhaV

[2021-04-08 06:54] giridhar7889 commented on #118
@sruti2024 can I work on this issue? , please assign this to me

[2021-04-08 08:37] SnehaVeerakumar commented on #101
Please someone resolve this issue and merge it. It is hectic with current footer which overlaps with the contents.

[2021-04-08 08:58] arpit456jain commented on #101
@SnehaVeerakumar its because of the fixed bottom property of footer.

[2021-04-08 09:02] CMELAKKIA commented on #101
@arpit456jain Yeah I had to find it before adding a field. Thank you😅

[2021-04-08 13:24] harinyadevi opened #125 "Adding WhatsApp click to chat feature"
### **Feature request**:
To add a WhatsApp click to chat button.

### **Describe the solution you'd like**:
I will add a WhatsApp button (bottom right corner in the webpage) which when clicked by the user would allow the user to directly interact with the website administrators.

### **Describe how this feature will be useful to our readers**:
As WhatsApp is the most widely used direct messaging a

[2021-04-09 15:42] sruti2024 commented on #115
could you please elaborate as the functionality was already added as per my knowledge.

[2021-04-09 16:14] sruti2024 commented on #125
whose contact shall be shared??

[2021-04-09 16:25] #70 closed

[2021-04-09 17:02] harinyadevi commented on #125
Right now, I have just given a random number in the code. When the website gets deployed at a later stage, one of the website administrator's contact shall be shared.

[2021-04-09 17:06] PROTechThor commented on #122
@harinyadevi Go ahead!

[2021-04-09 17:08] PROTechThor commented on #120
Looks like a valid issue to me. Go ahead, @Aditya201551. Thanks for all your contributions :)

[2021-04-09 17:36] harinyadevi commented on #122
@PROTechThor I have created a PR for this issue (PR #126 )

[2021-04-09 18:21] Aditya201551 commented on #120
Thank you so much for acknowledging my contributions! :)

[2021-04-09 20:23] #122 closed

[2021-04-09 20:33] SaiSudhaV commented on #116
@somya51p Wasn't this issue already there?
I think #6 is an issue similar to this please check it once.

[2021-04-09 20:37] #120 closed

[2021-04-10 04:46] somya51p commented on #116
@SaiSudhaV I apologize, I misinterpreted issue number #6 as uploading an image for the user profile.

[2021-04-11 09:45] Diksha-11 commented on #110
Please /assign this issue to me

[2021-04-11 15:32] Aditya201551 opened #128 "[GENERAL] [GSSOC' 21] Legacy code in login and signup page"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# ISSUE

- There is Legacy code(no longer supported code) in the CSS section o

[2021-04-11 16:13] Aditya201551 opened #129 "[BUG] [Gssoc' 21] Anyone can view projects without logging in to the webapp"
### **Describe the bug:**
- Anyone can view projects of the app directly without logging in to the app if they have the URL of the view, i.e if anyone types `http://127.0.0.1:8000/project_view/` they can view the projects present In the app without logging in

### **To Reproduce:**
Steps to reproduce the behavior:
- Type `http://127.0.0.1:8000/project_view/` without logging in

### **Expected beha

[2021-04-12 15:13] sruti2024 commented on #129
okay since this issue is regularly coming up do a thing fix this bug for all the pages that are currently there , will that be alright?

[2021-04-12 15:14] #6 closed

[2021-04-12 15:16] Aditya201551 commented on #129
@sruti2024 sure i can do that

[2021-04-12 15:16] sruti2024 commented on #128
okay

[2021-04-12 15:20] sruti2024 commented on #118
but currently it is a individual based project management and not a team based one so how are the ppl supposed to interact?

[2021-04-12 15:23] sruti2024 commented on #129
okay

[2021-04-12 15:33] sruti2024 opened #130 "Welcome email on sign up"
### **Feature request**:
As soon as a user sign up to the site an welcome email should be sent to the registered mail ID along with details about the pro_act and contact details , create html template and verify before coding the same.

### **Describe the solution you'd like**:
A standard email to be generate as soon as a user signs up .

<hr/>

**Note:**
* If you want to work on an issue, you sho

[2021-04-12 15:37] sruti2024 opened #131 "Option to add profile picture in the profile page , also display the same on the page"
### **Feature request**:
option to add profile picture in the profile section , also the same must be displayed and also an option to update the picture should be provided.

### **Is your feature request related to a problem? Please describe. (optional)**:
the profile section seems to be a bit empty

### **Additional context:**
add a working video of the same along with the PR .

<hr/>

**Note:**

[2021-04-12 15:39] sruti2024 commented on #110
sorry but adding space , indentation in readme and spell check cannot be considered as issues for marking !

[2021-04-12 15:43] sruti2024 commented on #10
@manastole03 updates ??

[2021-04-12 15:44] sruti2024 commented on #21
@srishtij2000 updates??

[2021-04-12 15:44] sruti2024 commented on #56
@garvitraj updates?

[2021-04-12 15:58] arpit456jain commented on #10
@sruti2024 assign me under GSSoC'21

[2021-04-12 16:10] sahilempire commented on #10
@sruti2024 I asked you to assign me on this issue before, it's my turn now.
Please Assign me.

Thank you.

[2021-04-12 16:13] sonaliBedade commented on #8
ma'am I would like to work on this issue. Can you please assign it to me?

[2021-04-12 17:38] somya51p commented on #96
@SaiSudhaV @sruti2024 Please review the above designs. and I would code the better one

[2021-04-12 18:07] ankit-kmar opened #134 "Welcome And Auto Label Bot"
## Welcome Bot
This bot basically greets someone who opens up an issue or makes a pr for the first time in the repo and also when the pr gets merged.

Here is the greetings that I'll use:

Someone opens a new issue:

Hi @_user!

Thanks for opening a new issue to this repo! Don't forget to go through our Code of Conduct and Contributing Guidelines, and wait until you get assigned by one of our main

[2021-04-12 19:26] mohammedjameel24 commented on #10
Assign me

[2021-04-12 19:29] mohammedjameel24 commented on #10
Please assign me

[2021-04-12 20:55] SalmaFarghaly commented on #130
Hello @sruti2024 I would like to work on this issue can you assign it to me ?

[2021-04-13 16:10] arpit456jain commented on #131
@sruti2024 i would like to give it a Try

[2021-04-14 11:16] garvitraj commented on #56
I have alre3ady updated the Ui via discord will update it here too.
sharing link in xd is not possible to i attached the file here by pls suggest changes so that i may start with the coding stuffs
[Landing Page.pdf](https://github.com/sruti2024/PRO_Act/files/6310419/Landing.Page.pdf)

[2021-04-14 17:21] sruti2024 commented on #134
the welcome bots seems really great go ahead with it but don't include the  auto label stuff

[2021-04-14 17:22] #129 closed

[2021-04-14 17:27] #101 closed

[2021-04-14 18:29] ankit-kmar commented on #134
Sure!! ma'am. Can you pls add the level tag too.

[2021-04-14 18:47] #114 closed

[2021-04-14 18:52] sruti2024 commented on #56
but this issue is about the view projects page !

[2021-04-14 22:23] arpit456jain opened #136 "Enhancement in social media icons"
### **Feature request**:
Cool and attractive social media icons in footer.

### **Is your feature request related to a problem? Please describe. (optional)**:
Social media icons are very dull and static

### **Describe the solution you'd like**:
I would like to make social media icons more attractive and want to add animation to it

### **Describe how this feature will be useful to our readers**:

[2021-04-15 04:27] saumyaparikh commented on #136
I would like to work as a GSSOC participant.
I will use font awesome for social media icon.
when the mouse pointer will hover on the icon it will show the full name with colour transition

[2021-04-15 04:36] arpit456jain commented on #136
@saumyaparikh  i had already made these icons
<img width="286" alt="icons" src="https://user-images.githubusercontent.com/55352601/114814598-1838ca00-9dd2-11eb-94e5-938f16699285.png">

for the website just have to add animation .
waiting for confirmation from @sruti2024 @SaiSudhaV  kindly assign me this

[2021-04-15 04:40] saumyaparikh commented on #136
Okay🙌

[2021-04-15 05:14] SaiSudhaV commented on #136
@saumyaparikh Thanks for showing interest if you feel something can be added to this project you can create an issue on yourself, that can be assigned to you.

[2021-04-15 05:39] arpit456jain commented on #136
@SaiSudhaV kindly add the label of gssoc

And one more thing project is using pandas but its not mention in requirements.txt kindly look into it, i can add it to file just need the version details which will be compatible

[2021-04-15 06:00] arpit456jain commented on #136
@SaiSudhaV @sruti2024 kindly review my PR and add suitable labels to it

[2021-04-15 13:05] NidhiChaurasia commented on #134
@sruti2024 Please Assign me this issue .So, that I could also optimize the bot using DialogFlow.

[2021-04-16 09:16] #125 closed

[2021-04-16 09:21] #128 closed

[2021-04-16 11:58] Aditya201551 opened #141 "[FEATURE] [GSSOC' 21] Adding JS Dark mode"
### **Feature request**:
- Adding dark mode to the project using just JS
- Adding feature to remember mode choice and saving it for future use

### **Is your feature request related to a problem? Please describe. (optional)**:
NA

### **Describe the solution you'd like**:
- A dark mode floating button accessible from anywhere from the screen to toggle

### **Describe alternatives you've considered

[2021-04-16 14:16] garvitraj commented on #56
@sruti2024 can you pls guide me about this in view project page i m not getting any resource or wireframe to start with
pls guide me once

[2021-04-16 14:41] Aditya201551 commented on #10
@sruti2024 please assign me the task next if the assignee is unable to complete the task

[2021-04-16 14:44] #141 closed

[2021-04-16 14:51] mohammedjameel24 commented on #10
Assign me
@sruti2024

[2021-04-16 21:27] sahilempire commented on #10
@sruti2024 Can you please specify, **which type of toggle button** you want, like it **should be on Nav bar** (top right corner, next to log out) or **a button like 'go to top button'**.

Thank you.

[2021-04-17 17:48] #104 closed

[2021-04-17 18:20] CMELAKKIA commented on #8
@sruti2024  I can create create the page using the above given design using html CSS. Could you assign this to me?

[2021-04-17 20:10] #134 closed

[2021-04-17 20:15] #116 closed

[2021-04-17 20:15] #115 closed

[2021-04-17 20:15] #110 closed

[2021-04-18 06:59] sonaliBedade commented on #8
What content and features are required on the about page? @sruti2024

[2021-04-18 16:20] somya51p commented on #96
@sruti2024 @SaiSudhaV Please review the designs.

[2021-04-19 04:33] Aditya201551 opened #144 "[MINOR BUG] [GSSOC' 21] Create account link not working on reset password page"
### **Describe the bug:**
- On clicking create account link on reset password page it does not redirect to sign up page

### **To Reproduce:**
Steps to reproduce the behaviour:
1. Go to 'Resetpassword page'
2. Click on 'Create account'
3. See an error

### **Expected behavior:**
- Redirection to the signup page

### **Screenshots:**

https://user-images.githubusercontent.com/32588231/115181698-19c

[2021-04-19 16:12] somya51p commented on #2
@SaiSudhaV @sruti2024 If there are no updates in the PR as such, could I take up this issue and work on the same.

[2021-04-20 14:43] #136 closed

[2021-04-20 18:52] #144 closed

[2021-04-21 10:12] arpit456jain commented on #131
@sruti2024 I am not able to solve this issue you can assign it to someone else

[2021-04-21 10:23] arpit456jain opened #146 "Back To Top Button"
### **Feature request**:
I would like to add Back To Top Button in website

[2021-04-21 10:24] arpit456jain opened #147 "Confirmation Alert before Logout"
Confirmation Alert before Logout like this.
<img width="361" alt="sweet alert" src="https://user-images.githubusercontent.com/55352601/115538795-e0da8980-a2b9-11eb-948c-cdcbcd566af8.png">

[2021-04-21 16:40] PROTechThor commented on #147
This seems like a valid feature to me. Carry on :)

[2021-04-21 16:42] PROTechThor commented on #146
Hmm, I don't know if the page is long enough to need a button? It may not be a problem to just scroll? I don't know...

[2021-04-21 16:58] arpit456jain commented on #146
currently its to long but it may be it just look some cool when we scroll down and suddenly a arrow pop up for back to top

[2021-04-21 17:41] sonaliBedade commented on #8
@sruti2024 here's a link to the recording of the changes I made...any suggestions?

https://user-images.githubusercontent.com/71630760/115597170-9b887d00-a2f6-11eb-9932-48c8eb6c0a90.mp4

[2021-04-21 17:47] arpit456jain commented on #147
Kindly add label of level

[2021-04-22 06:23] #130 closed

[2021-04-22 06:24] #118 closed

[2021-04-22 06:39] sruti2024 opened #148 "feature to add notes against subtasks"
### **Feature request**:
Should have a option of "add note" in the sub task table against each subtask , on click  there must be a module to add notes to that subtask once a note is given , the button must change to view note , and on click must again have a module with the note on it .

### **Is your feature request related to a problem? Please describe. (optional)**:
This would give a better ide

[2021-04-22 06:43] sruti2024 commented on #147
@arpit456jain do keep the display on a model , small and simple

[2021-04-22 06:45] sruti2024 commented on #100
@coding-geek21 any updates??

[2021-04-22 06:45] sruti2024 commented on #96
yup the design is cool go ahead !!

[2021-04-22 06:49] #94 closed

[2021-04-22 07:04] sruti2024 opened #149 "add an option of "pick a target date !!""
### **Feature request**:
while adding a subtask also have an option to add target date i.e. date one wishes to complete the task.

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone.

[2021-04-22 08:51] Aditya201551 commented on #10
@sruti2024 i will start the work by tonight

[2021-04-22 08:52] mohammedjameel24 commented on #10
I should get assigned !!!@sruti2024

[2021-04-22 09:33] coding-geek21 commented on #100
Yes since i was having exams i was not able to complete, I will complete within 2 or 3 days

[2021-04-22 12:17] Aditya201551 commented on #10
@sruti2024 Mam, pr is ready I am pushing the PR

[2021-04-22 13:10] SalmaFarghaly commented on #21
Hello @sruti2024 Can I work on this issue ? I will implement the design that simranbhalla3 has mentioned.

[2021-04-22 17:01] somya51p commented on #21
@sruti2024 If this issue is yet opened to work on. Please assign me the same, I wish to contribute to it.

[2021-04-23 06:49] sruti2024 commented on #21
@SalmaFarghaly sure go ahead!!

[2021-04-23 06:56] #147 closed

[2021-04-23 10:45] Aryamanz29 opened #154 "QA : Need of code linter and Formatter"
- Need a workflow that ensures every contributor should follow the PEP-8 style guide for python code.
- We can use `flake8` for linting and `Black` for formatting source code.
- Also this workflow runs on every PR which ensures the code follows PEP8 standard or not.

[2021-04-23 10:50] Aryamanz29 commented on #131
I would like to work on this issue , Could you please assign to me

[2021-04-23 16:42] VaibhavSharma24 opened #155 "two cross signs overlapping"
### **Describe the bug:**
When you login to page it has two crosses.

### **Screenshots:**

**Note:**
I would like
[Doc123.docx](https://github.com/sruti2024/PRO_Act/files/6366848/Doc123.docx)
 resolve this bug

[2021-04-23 16:57] VaibhavSharma24 opened #156 "Adding A Preloader"
**Feature request**:
I would love to add a Preloader to the site to make it look more good and nice so whenever someone refreshes the page it will appear.

**Note:**
I would love to add this feature

[2021-04-23 18:05] Aryamanz29 opened #157 "deps : Pandas not found"
### **Describe the bug:**
`Pandas` library dependency is not present in requirements.txt
### **To Reproduce:**

Steps to reproduce the behavior:
1. Create `virtual env` and Activate it
2. `pip install -r requirements.txt`
3. Run `py manage.py runserver` or `python3 manage.py runserver` (on Linux)
4. See an error 👇

![Screenshot (72)](https://user-images.githubusercontent.com/56113566/115911541-d5d

[2021-04-23 19:08] #146 closed

[2021-04-23 19:24] Aryamanz29 opened #158 "Bug : Adding multiple project with same name"
### **Describe the bug:**
Adding multiple projects with the same name causes `MultipleObjectsReturned` error

### **To Reproduce:**

#### **See this 👇**

![Screenshot (79)](https://user-images.githubusercontent.com/56113566/115920283-9a428600-a497-11eb-8bc6-ac14546d432e.png)

![same_project](https://user-images.githubusercontent.com/56113566/115919919-1ab4b700-a497-11eb-9db2-c4587e67a24c.gif)

###

[2021-04-23 19:33] Aryamanz29 opened #159 "UI : Datetime not properly formatted"
- Project creation DateTime is not properly formatted.

![Screenshot (83)](https://user-images.githubusercontent.com/56113566/115920964-864b5400-a498-11eb-836f-13a41de3face.png)
![Screenshot (82)](https://user-images.githubusercontent.com/56113566/115920972-88151780-a498-11eb-9d90-58663bbe22a1.png)

Expected:
- It should be formatted like this eg. `26/12/2022 04:34:52 or 26-12-2022 04:34:52 `

[2021-04-23 19:35] Aryamanz29 commented on #154
@sruti2024  I would like to work on this issue

[2021-04-23 19:47] Aryamanz29 opened #160 "Bug : Project link validation"
### **Describe the bug:**
- Currently, there is no project link validation in the `Add project` section.

### **To Reproduce:**

#### **See this 👇:**
![email_bug](https://user-images.githubusercontent.com/56113566/115922542-a845d600-a49a-11eb-874e-c793c7c60979.gif)

### **Expected behavior:**
-  It must have a link validation and also an `alert` should pop up when a user enters an invalid link.
-

[2021-04-23 20:03] Aryamanz29 opened #161 "DOCS : Missing commit guildelines in `contributing.md`"
- After seeing many PR in this repo I found that contributors don't follow the proper` commit message style`.
-  Proper commit messages help project maintainers and new contributors to helps them to understand project source code more easily
-  Also contibuting. md missing conventional  commit guidelines
-  There is no link in  `README.md` that redirects new contributors to `contributing.md `
- Fo

[2021-04-23 21:26] Aryamanz29 opened #163 "Bug : Project image not found"
### **Describe the bug:**

- Project image not found after adding a new project, Instead it shows a hardcoded image `templates/project_view.html`
 `<img class="card-img-top" src="https://source.unsplash.com/100px180/?phone,contact,email" alt="Card image cap">`
- Also `media/proj_image/` not found.

### **To Reproduce:**
![project_img_bug](https://user-images.githubusercontent.com/56113566/11593091

[2021-04-23 21:37] Aryamanz29 opened #164 "Move : Staticfiles to `./static/`"
-  Some static files are present in` ./templates/ directory `

-  Move it to `./static/` and change their links in the codebase if necessary.

### **SS 👇:**

![Screenshot (85)](https://user-images.githubusercontent.com/56113566/115932259-35445b80-a4aa-11eb-885b-cd4a8c0798bb.png)

[2021-04-23 21:53] Aryamanz29 opened #165 "Rename : `kebab-case` filename to `snake_case`"
- Some files in ` ./templates , ./static/js` have different naming convention.
- Rename those files to follow the single `snake_case` naming convention.
-  Also search for the `kebab-case` notation in source code if found then rename it as well.
-  Note: Do changes in the codebase as well if they link into the project.
####  For ref about variable convention :  https://www.theserverside.com/defini

[2021-04-24 08:12] darpankhanna commented on #80
please assign me this issue @SaiSudhaV

[2021-04-24 08:53] Aryamanz29 opened #166 "Bug : Update profile throws `RelatedObjectDoesNotExist` error"
### **Describe the bug:**

When a user login using google auth , under` profile section -> update profile` throws an error `RelatedObjectDoesNotExist`

### **To Reproduce:**

![no_user_profile](https://user-images.githubusercontent.com/56113566/115953306-4ae86e00-a508-11eb-8d00-86a41befab4e.gif)

### **Expected behavior:**
Should render `profile_update.html`

[2021-04-24 09:09] Srishti013 commented on #165
Hi,
I am a GSSOC'21 participant and I would like to work on this issue please assign it to me @Aryamanz29

[2021-04-24 09:11] Aryamanz29 opened #167 "Bug : SignUp through signup_form fails"
### **Describe the bug:**

 SignUp through signup_form throws an `error while sending OTP, try again`

### **To Reproduce 👇 :**

![registration_bug](https://user-images.githubusercontent.com/56113566/115953756-de22a300-a50a-11eb-95ed-60d00890c033.gif)

### **Expected behavior:**
It should successfully register a new user.

[2021-04-24 09:16] Aryamanz29 commented on #165
@sruti2024  Review this issue please and assign it to 😉 @Srishti013

[2021-04-24 09:34] Aryamanz29 opened #168 "Move : Internal & Inline CSS to external CSS"
### Description :
- I found templates having inline and internal CSS which is indigestible to new contributors.

![Screenshot (91)](https://user-images.githubusercontent.com/56113566/115954331-05c73a80-a50e-11eb-97f7-0491f3f41082.png)

![Screenshot (92)](https://user-images.githubusercontent.com/56113566/115954333-06f86780-a50e-11eb-8891-4c96efd6b1bf.png)

### Expected :

- Remove all inline and i

[2021-04-24 09:45] Aryamanz29 opened #169 "Clean : Remove redundant comments"
- Remove `redundant comments` from project code.

### **See this 👇:**

![Screenshot (98)](https://user-images.githubusercontent.com/56113566/115954668-cf8aba80-a50f-11eb-9602-2ffe7b0a1162.png)

![Screenshot (96)](https://user-images.githubusercontent.com/56113566/115954653-b4b84600-a50f-11eb-8d70-60f2ce2a5cfc.png)

![Screenshot (97)](https://user-images.githubusercontent.com/56113566/115954651-b38

[2021-04-24 10:23] Aryamanz29 opened #170 "Rename : Variable/Function names"
**A good variable name should:**
[code]
- Different or Bad variables creates problem in debugging and it should be avoided.
-  Rename `variable, functions, etc` name in project `source code`
-  They should `follow` a similar variable naming convention throughout the project. ref  https://www.theserverside.com/definition/Snake-case

### SS below 👇:
- **Existing code**

![Screenshot (100)_LI](https:

[2021-04-24 18:48] #157 closed

[2021-04-24 19:00] Aryamanz29 commented on #158
I'll start working on this issue from 1st of may because right now my exams are going on.@SaiSudhaV

[2021-04-25 16:02] sruti2024 commented on #163
okay this is an important issue that wasn't solved properly , so there is an option of uploading a project image display that same image in the project view page , and if there is no such image then display a default image .

[2021-04-25 16:09] Aryamanz29 commented on #163
@sruti2024  I have already assigned some issues in this repository , First I'll solve that ones , Also if someone willing to work on this issue they'll start working on it , could you please add `up for grab` or `available` label to this issue.

[2021-04-26 06:29] subhangi2731 commented on #148
please assign me this

[2021-04-26 06:30] subhangi2731 commented on #149
please assign me this I will make a pr by tomorrow

[2021-04-26 07:04] #10 closed

[2021-04-26 07:06] sruti2024 commented on #148
@subhangi2731 go ahead!!

[2021-04-26 12:19] arpit456jain opened #172 "bug in front-end"
### **Describe the bug:**

<img width="960" alt="prob2" src="https://user-images.githubusercontent.com/55352601/116081338-c6d4e880-a6b7-11eb-8a3d-e92203d4f0c0.png">
<img width="960" alt="prob1" src="https://user-images.githubusercontent.com/55352601/116081349-c9cfd900-a6b7-11eb-95db-f12aa62b7c97.png">

[2021-04-26 12:26] arpit456jain opened #173 "404 page and code to handle 404 error"
### **Feature request**:
As of now there is no 404 page in website .

I would like to add 404 page and the code to handle 404 error but it will work only when debug is False .

[2021-04-26 14:17] Aryamanz29 commented on #172
I want to know that google auth is working? because after  merging of this PR #152 I'm unable to register as a new user😅

[2021-04-26 14:29] arpit456jain commented on #172
Nope @Aryamanz29  it's not working i am unable to access home page that's why i created super user and login with that creditendials but still not able to access home page 😅😅

[2021-04-26 14:32] Aryamanz29 commented on #172
@arpit456jain

This is because he removes `db.sqlite3` file in order to resolve the merge conflict from the root which creates a problem now 🤔.

[2021-04-26 15:14] arpit456jain commented on #172
yeah may be

[2021-04-26 15:54] VaibhavSharma24 commented on #156
@sruti2024 In which file should i add the Preloader !

[2021-04-26 16:57] #21 closed

[2021-04-26 23:42] PROTechThor commented on #161
Hi. I'm not sure if this is really necessary for now. Commit guidelines are usually relevant for large projects or projects with automatically-generated changelogs. Not sure if we need it, or if anyone will bother to follow it.

I'll let another mentor step in and share their thoughts on this issue

[2021-04-26 23:44] PROTechThor commented on #168
Nice catch! This is a minor but relevant issue :)

[2021-04-26 23:49] PROTechThor commented on #170
Hi Aryamaz29. Thanks for pointing this out. I agree.

I believe we should document a set of coding style guidelines, reminding people to follow certain conventions when naming variables and functions. Something like [this](https://github.com/PROTechThor/MISP/blob/contribute/CODINGSTYLE.md). Do you mind creating a new documentation issue to track this?

[2021-04-27 08:34] #172 closed

[2021-04-28 05:30] arpit456jain commented on #173
@sruti2024 @PROTechThor @SaiSudhaV kindly review my PR #177

[2021-04-28 14:50] VaibhavSharma24 commented on #156
@sruti2024 Please review this preloader and if you want any changes to be made then please let me know.

https://user-images.githubusercontent.com/72144747/116424188-ee19ea00-a85e-11eb-843f-34c997371111.mp4

[2021-04-29 15:07] #173 closed

[2021-04-29 15:32] #154 closed

[2021-04-30 09:04] arpit456jain opened #180 "UI of view Projects"
I would like to give it a try to make ui of view projects  better.

**Note : The image is not saving in db so i can't render it on view project page . it will show image not found or i can hard code the image part**

I can make a better ui for The data currently on that page using bootstrap cards
It will look something like this.
<img width="198" alt="ui of cards" src="https://user-images.githubus

[2021-04-30 09:18] arpit456jain commented on #167
I don't understand what's the need of sending otp in signing up . I

[2021-04-30 09:20] Aryamanz29 commented on #167
Yea I have same doubt , @sruti2024  please clarify this 😅

[2021-04-30 16:54] #8 closed

[2021-04-30 16:55] #80 closed

[2021-04-30 16:56] #96 closed

[2021-04-30 16:56] sruti2024 commented on #100
updates??

[2021-04-30 16:58] sruti2024 commented on #148
@subhangi2731  updates?

[2021-05-01 21:35] sruti2024 commented on #180
can u add something to it for enhancing the ui?

[2021-05-02 03:30] arpit456jain commented on #180
I can try

[2021-05-02 11:38] VaibhavSharma24 commented on #156
@sruti2024 Please check this one is it looking fine or should i change it more ?

https://user-images.githubusercontent.com/72144747/116811851-0e042300-ab69-11eb-95fd-9a315e1336c0.mp4

[2021-05-02 14:28] VaibhavSharma24 opened #181 "Adding Dark Mode to The Website"
### **Feature request**:
I would love to add a dark mode to this website which will enhance the website.

[2021-05-02 15:52] sruti2024 commented on #180
okay then starting designing and verify it , according to the design the level tag shall be given

[2021-05-02 16:02] arpit456jain commented on #180
Ok assign me this issue

[2021-05-02 16:47] SaiSudhaV commented on #181
Hello @VaibhavSharma24
The issue is already there #10
If you think its different from that issue let me know we'll reopen it again
Thank you for your interest!!

[2021-05-03 16:09] sruti2024 commented on #156
yeah the design seems fine just attach a video showing the full process i.e. signup --> loading --> home page

[2021-05-03 20:02] Furquan712 commented on #170
I would like to work on this , Will you assignee me

[2021-05-03 20:05] Aryamanz29 commented on #170
Sure, I'm agree with you. I'll create a new issue for that .

[2021-05-04 13:53] KajalSinghBAGHEL opened #184 "Update README.md"
remove grammatical mistakes

[2021-05-04 13:53] KajalSinghBAGHEL commented on #184
I am a GSSOC participant. Can I work on this issue

[2021-05-04 15:14] anirudhsai20 opened #185 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source progarms in which this project was listed in.

[2021-05-04 15:15] anirudhsai20 commented on #185
Hi! Please assign this issue to me under GSSOC.

[2021-05-04 16:41] sruti2024 commented on #185
I don't really want this to be there in read.me , any other suggestions u can share

[2021-05-04 16:42] sruti2024 commented on #184
you may check the comments in ur PR

[2021-05-04 16:43] #100 closed

[2021-05-04 16:43] sruti2024 commented on #131
updates?

[2021-05-04 18:17] Aryamanz29 commented on #131
Yes , Now my exams are over & I'm completing pending issues one by one and raising PR's asap ✌️.

[2021-05-04 18:30] Aryamanz29 commented on #181
Hii 👋 @SaiSudhaV
This #10 PR is reverted (see [this](https://github.com/sruti2024/PRO_Act/pull/174)) since it breaks the existing project code and this feature still not implemented in the project. I think we should assign this issue to @VaibhavSharma24 😅. What do you think?

[2021-05-04 21:27] Furquan712 commented on #160
I would like to work on this, will you assign me?

[2021-05-05 19:03] #159 closed

[2021-05-05 20:07] Aryamanz29 commented on #168
@sruti2024 @SaiSudhaV @PROTechThor  Need Review for this PR 📝

[2021-05-06 19:27] Aryamanz29 commented on #131
@sruti2024  Please review PR

[2021-05-06 19:43] Aryamanz29 commented on #56
Hii @garvitraj 👋

You need redesign or improve `UI` of view projects page and also implement that design after approval from project `admin/mentors `

You may get some cool ideas from here 👇

https://codepen.io/nicolaskadis/pen/brQEOd
https://codepen.io/mberg84/pen/ZgzjvL
https://codepen.io/mojlbhr/pen/vYNWrGZ
https://codepen.io/Delvezio/pen/ExawqVa

[2021-05-06 21:03] #168 closed

[2021-05-07 01:04] PROTechThor commented on #184
@sruti2024 We aren't supposed to accept basic issues like this, right? Or it this issue valid?

[2021-05-07 01:06] PROTechThor commented on #185
Not really an enhancement to me. I don't see how this will add any value. Please, come up with a better issue. I'll reopen if you have a better idea.

[2021-05-07 01:06] #185 closed

[2021-05-07 09:05] #131 closed

[2021-05-08 10:59] pranita736 commented on #184
I want to work on this issue. Please assign this to me under GSSOC21

[2021-05-09 07:02] sruti2024 commented on #184
@PROTechThor  yes grammatical and spelling corrections will not be eligible for marking.

[2021-05-09 07:02] #184 closed

[2021-05-12 16:57] SaiSudhaV commented on #181
@VaibhavSharma24 Any update?

[2021-05-12 17:02] #167 closed

[2021-05-12 17:06] SaiSudhaV commented on #158
@Aryamanz29 Any updates?

[2021-05-12 17:09] #166 closed

[2021-05-12 17:34] Aryamanz29 commented on #158
I'll raise PR tomorrow

[2021-05-13 11:26] #170 closed

[2021-05-13 13:32] Aryamanz29 opened #193 "Feature : Reimplement Social login"
### **Feature request**:
-  We have already social logins like `Google, Facebook` but it contains a lot of bugs and not properly implemented in this project.
-  Feel free to research more about how to implement `social auth, login system` for the Django project.
-  This feature should be` secure, efficient, and robust`.
-  Also remove the current social login feature because it contains so many bu

[2021-05-13 13:36] Aryamanz29 commented on #165
@Srishti013  Any updates?

[2021-05-13 13:44] Aryamanz29 commented on #156
@VaibhavSharma24 Any updates?😅

[2021-05-13 13:45] Aryamanz29 commented on #149
@subhangi2731 Any updates? 😅

[2021-05-13 14:34] subhangi2731 commented on #149
@Aryamanz29 I willl send a pr by tomorrow I am working on it

[2021-05-14 14:07] VaibhavSharma24 commented on #156
I am for the delay actually my laptop had some problem so thats why i didnt got the chance to update you !

All things are ready i just have to add this preloader to every page.

[2021-05-15 09:46] Aryamanz29 commented on #158
@SaiSudhaV @sruti2024  Need your review for this 👉 #196

[2021-05-15 10:28] arpit456jain commented on #180
@SaiSudhaV @sruti2024 please merge this PR i had made changes 3rd time

[2021-05-16 22:35] #158 closed

[2021-05-17 10:02] arpit456jain commented on #181
@SaiSudhaV please assign me

[2021-05-17 11:09] SaiSudhaV commented on #56
@garvitraj Any updates?

[2021-05-17 11:25] arpit456jain commented on #181
@SaiSudhaV please ask @sruti2024 to merge that PR for ui enhancement of view projects before any merge conflicts occurs 🙏🙏

[2021-05-18 19:32] #180 closed

[2021-05-18 19:34] #165 closed

[2021-05-20 05:15] mukeshmjn commented on #169
Please assign this to me I will remove reduntant code/comments

[2021-05-20 05:16] mukeshmjn commented on #163
@Aryamanz29 @sruti2024 Please assign this to me . I would like to fix it up.

[2021-05-20 05:18] mukeshmjn commented on #148
@sruti2024 I dont think they are working on it .. I would like to add this feature .. Please assign this to me

[2021-05-20 05:20] mukeshmjn commented on #160
Hi @sruti2024 I would like to add the validation where link is being entered .Please assign this to me..I would like to fix this up..

[2021-05-20 05:22] mukeshmjn commented on #149
@Aryamanz29 assign this to me . Its already been a week no response from them. I would like to add that option.

[2021-05-20 05:52] Aryamanz29 commented on #149
Hii @mukeshmjn  👋
Thanks for showing interest
Tagging project admins @sruti2024  @SaiSudhaV

[2021-05-20 11:42] subhangi2731 commented on #149
@sruti2024 @Aryamanz29 please give me till today night time I was working on this I will create a pr I had exams

[2021-05-20 14:37] arpit456jain commented on #181
@sruti2024 @SaiSudhaV kindly review my PR for dark mode

[2021-05-20 15:23] sruti2024 commented on #163
@mukeshmjn u can go on with this issue

[2021-05-20 15:24] #161 closed

[2021-05-20 15:25] #2 closed

[2021-05-20 15:27] sruti2024 commented on #148
@subhangi2731 try till tomorrow eve else it shall be passed on to @mukeshmjn

[2021-05-20 15:27] subhangi2731 commented on #148
@sruti2024 ohk i will do it thank u so much

[2021-05-22 12:51] arpit456jain opened #200 "Sending warning email if someone else is trying to login in my account"
If someone else is trying to login in my account and if he/she fails more than 5 times a warning email should be sent to me about this

[2021-05-22 13:52] #181 closed

[2021-05-22 14:26] #43 closed

[2021-05-23 12:28] mishrajiharsh219 commented on #160
@Furquan712 Hey! I am a GSSoC 21 participant, I find this issue interesting so can I work on this.

[2021-05-23 13:53] SaiSudhaV commented on #169
@Aryamanz29 any updates?

[2021-05-23 13:59] Aryamanz29 commented on #169
@SaiSudhaV  I'll Raise PR today ✌️

[2021-05-23 18:49] Aryamanz29 commented on #193
Give me some days, I'll raise PR soon. I'm quite busy nowadays

[2021-05-23 19:29] Aryamanz29 commented on #200
@arpit456jain  What type of warning it is ? . Does  He/she will get some sought of timeout from login activity? 🤔 .Could you elaborate more about this in the issue description itself?😅.

[2021-05-23 19:52] #156 closed

[2021-05-23 19:52] #169 closed

[2021-05-24 13:51] #200 closed

[2021-05-26 06:40] SaiSudhaV commented on #160
@mukeshmjn Any updates?

[2021-05-26 06:40] SaiSudhaV commented on #163
@mukeshmjn Any updates?

[2021-05-26 06:41] SaiSudhaV commented on #149
@subhangi2731 Any updates?

[2021-05-26 06:45] SaiSudhaV commented on #56
@srishtij2000 Any updates?

[2021-05-26 06:46] SaiSudhaV commented on #148
@subhangi2731 Any updates?

[2021-05-26 18:10] arpit456jain opened #202 "bug in 404 error page"
bug in 404 error page
its looking like this
<img width="960" alt="dhid" src="https://user-images.githubusercontent.com/55352601/119710227-c036be00-be7b-11eb-8aa4-7c2611e3be8e.png">

[2021-05-26 18:11] arpit456jain commented on #202
@SaiSudhaV @sruti2024 @PROTechThor kindly assign me this issue .

[2021-05-27 07:47] arpit456jain opened #204 "edit gitignore"
we should edit git ignore file so that changes in DB can not be committed
there is a lots of change required

lots of un-necessary files are handled by git which should be included in gitignore

[2021-05-27 19:26] mishrajiharsh219 commented on #160
@Furquan712 can i work on it now?

[2021-05-29 11:30] Aryamanz29 opened #206 "[UI] : Profile Page Irresponsive"
### **Describe the bug:**
- Currently, when the user has no profile picture page seems `irresponsive`
-  Same problem with `Navbar`

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to `'Profile section'`
2. See an error

### **Expected behavior:**
- It should be `responsive`

### **Screenshots:**

![Screenshot from 2021-05-29 16-52-19](https://user-images.githubusercontent.com/5611356

[2021-05-29 11:51] Aryamanz29 commented on #206
This issue open for `grab`

[2021-05-29 18:49] #202 closed

[2021-05-29 18:51] #193 closed

[2021-06-02 10:52] #204 closed

[2021-08-14 08:44] Sin-Sumit commented on #163
@sruti2024 @SaiSudhaV Can I work on this?

[2021-08-14 08:45] Sin-Sumit commented on #164
@SaiSudhaV  Can I work on this? Please assign, if yes.

[2021-08-14 08:47] Aryamanz29 commented on #164
Hello 👋
Just raised PR for this issue .. No need to ask for assignment.

[2021-08-14 08:47] Sin-Sumit commented on #160
@SaiSudhaV  Can I work on this? Please assign, if yes

[2021-08-14 10:56] SaiSudhaV commented on #164
Yeah you can start working and raise the PR...need not ask or wait for the assignment

[2021-08-15 05:36] Sin-Sumit commented on #164
Hey@SaiSudhaV, While installing the requirements black version is not correct because that it didn't install that and on migrating the manage.py file, it shows an error for module dotenv, but on installing that dotenv separately, it is not downloading.

[2021-08-15 05:38] Sin-Sumit commented on #164
And I checked the file structure where I found that there are no files that need to be in the static folder. All are good at their places.